.folder, button, form button, .die-result-overlay-br button, .xmidi-qol-flex-container button, .header-overlay-br button, .dice-tray button, .dice-calculator-toggle, select, input[type="color"], input[type="checkbox"], input[type="radio"] {
    &:hover {
        cursor: pointer;
    }
}

.app {
    background: $black1;
}

/* ----------------- */
/* --- Token HUD --- */
/* ----------------- */

#token-hud {
    input[type="text"] {
        font-size: 1.25rem;
        font-weight: 900;
    }

    .control-icon:hover {
        cursor: pointer;
    }
}

/* ------------------ */
/* --- App Window --- */
/* ------------------ */
.app {
    background: darken($black2, 2%);

    &#sidebar {
        background: $black1;
    }
}

.window-app {
    border-radius: 5px;

    .window-header {
        border: none;
        
        .window-title {
            font-weight: 500;
        }
    }

    .tabs:not(.tidy5e-navigation):not(.sheet-navigation) .item {
        transition: all .15s ease-in-out;
        font-weight: 500;
        border-radius: 0;
        color: $white;

        &:hover {
            box-shadow: $shadow;
            background: $black3L;
            text-shadow: none;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
        }

        &.active {
            box-shadow: $shadow;
            background: $black3L;
            text-shadow: none;
            border-radius: 5px 5px 0 0;
            border: none;
        }
    }

    .tab.active {
        margin-bottom: 10px;
    }

    nav.sheet-tabs {
        border-top: none;
        height: fit-content;
        border-color: $black3L;

        &:first-child {
            margin-top: -10px;
        }

        .item {
            padding: 5px 0;
            font-size: .813rem;
            display: flex;
            flex-direction: column;
            line-height: 1;

            i {
                margin-bottom: 5px;
            }
        }
    }

    .window-content {
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    &.image-popout {
        .form-group.title {
            display: none;
        }

        .lightbox-image {
            flex: auto;
        }
    }

    .notes {
        color: $white;
        margin-top: 0;
        padding: 5px 0;
        padding-bottom: 8px;
        margin-bottom: 15px;
        font-weight: 400;
        border: none;
    }

    input[type="checkbox"] {
        justify-self: center;
    }

    .window-resizable-handle,
    .window-draggable-handle {
        opacity: 0;
    }

    .window-resizable-handle:hover {
        cursor: nwse-resize	;
    }

    .window-draggable-handle:hover {
        cursor: grab;
    }
}

.window-app .window-content, .tidy5e.sheet.actor .window-content {
    background: $black2;
    color: $white;
}

.dnd5e .form-group {
    label {
        color: var(--secondary-color);
    }

    .form-fields button {
        border: none;
        background: $black3;
    
        &:hover {
            background: $black3L;
        }
    }
}

// Hit Dice Window
.window-app.hd-config {
    input.current, input.max {
        color: $white;
    }

    input {
        height: 32px;
    }
    
    input.max:hover {
        background: $black2
    }
    
    .form-group button {
        padding: 5px;

        &.increment, &.decrement {
            height: 32px;
            flex: .2;
        }
    }

    .notes {
        margin: 0;
    }
}

/* ----------------------- */
/* --- Settings Window --- */
/* ----------------------- */

#client-settings.window-app {
    .window-content {
        padding-top: 10px;

        .tab.active {
            margin: 0;
        }
        
        nav.tabs {
            border: none;
        }
    }
}

.filepicker .display-modes a, .filepicker .display-modes a.active {
    background: $black3;
}

#client-settings.app.window-app.form #config-tabs {
    .settings-list h2.module-header span {
        color: $white;
        opacity: 0.5;
    }

    .tab[data-tab="modules"] .settings-list h2.module-header {
        padding: 1em 0;
        margin: 0;
    }
}

#module-management .package-list {
    .package-title, .package-metadata, .package-description {
        color: $white;
    }
}

/* -------------------- */
/* --- Form Windows --- */
/* -------------------- */

form {
    button {
        color: $white;
        background: $black3;
        border: none;
    }
    
    

    .form-group, 
    .form-group-stacked {
        margin: 6px 0;

        &:not(.submenu) {
            display: grid;
            grid-template-columns: 40% 60%;

            & > *:last-child:nth-child(odd) {
                grid-column: 1 / -1;
            }
        }
        
        label {
            font-size: 0.813rem;
            font-weight: 700;
            color: rgba(255,255,255,.7);
        }

        .form-fields {
            justify-content: center;

            & > label.checkbox {
                align-items: center;
                justify-content: center;
                padding: 4px;
            }
        }

        span.units {
            color: rgba(255,255,255,.4);
            font-weight: 400;
        }
    }

    .form-group.stacked,
    .form-group-stacked {
        grid-template-columns: 1fr;
    }

    .notes,
    .hint {
        color: $white;
        opacity: 0.6;
        grid-column: 1/-1;
        font-size: 0.813rem;
        font-weight: 500;
    }
    
}

.window-app textarea {
    background: $black3;
    color: $white;
    border: none;
}

// Override for the macro-sheet

.macro-sheet form .form-group {
    display: flex;
}

#drawing-config {
    min-height: 420px;
}

// Dialog Buttons

.dialog .dialog-buttons button, .dialog .dialog-buttons button.default {
    border: none;
    background-color: $black3;
    margin-top: 10px;

    &:hover {
        background-color: $black3L;
    }
}

.dialog-content form > p:first-child {
    margin-top: 0;
    margin-bottom: 15px;
}

// Macro Window

.macro-sheet .form-group.command .furnace-macro-command textarea {
    color: $white;
    -webkit-text-fill-color: unset;
}

/* --------------------------- */
/* --- Scene Config Window --- */
/* --------------------------- */

.scene-sheet {
    .form-header {
        color: $white;
        border: none;
        font-weight: 900;
        font-size: 1.25rem;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    
    .window-content {
        padding: 25px;
    }
    
    .notes {
        padding-top: 0;
    }
}

/* ------------------------- */
/* --- Filepicker Window --- */
/* ------------------------- */

.filepicker {
    .form-group.current-dir {
        display: flex;
    }

    .current-dir button {
        background: $black3;
        border: none;

        &:hover {
            background: $black3L;
        }
    }

    .display-modes a {
        border: none;

        &:hover {
            text-shadow: none;
            background: $black3L;
        }

        &:first-child {
            margin-left: 0;
        }

        &.active {
            text-shadow: none;
            color: white;
            background: $black3L;
        }
        
    }

    .directory {
        border: none;

        & > li.dir:hover {
            text-shadow: none;
            background: $black3L;
        }
    }

    .tiles-list li {
        &:hover {
            background-color: $black3L;
            border-radius: 5px;
        }

        &.picked {
            box-shadow: $shadow;
            background: $black3L;
            border-radius: 5px;
        }
    }
}

/* ----------------------------- */
/* --- Drawing Config Window --- */
/* ----------------------------- */

#drawing-config {
    // Adjusted width and height to better fit other modules that add tabs to this window
    min-height: 450px;
    min-width: 510px;

    // The range inputs in the drawing window are not nested in a .form-fields div, like
    // every other input in Foundry, so this is a workaround. Atropos, please fix :(
    .tab[data-tab="text"] .form-group:nth-child(5),
    .tab[data-tab="text"] .form-group:nth-child(6),
    .tab[data-tab="fill"] .form-group:nth-child(3),
    .tab[data-tab="fill"] .form-group:nth-child(4),
    .tab[data-tab="lines"] .form-group:nth-child(3),
    .tab[data-tab="lines"] .form-group:nth-child(4),
    .tab[data-tab="lines"] .form-group:nth-child(5) {
        grid-template-columns: 2fr 2.5fr .5fr;
    }
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#sidebar {
    width: 320px;
    padding: 10px;

    .directory .directory-header .header-search {
        margin-bottom: 3px;
    }

    &.collapsed {
        padding: 0;

        #sidebar-tabs > .item.active {
            border: none;
        }
    }

    .sidebar-tab .header-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        margin-bottom: 3px;

        button {
            margin: 0;
            overflow: hidden;
        }

        & > *:last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }

    #sidebar-tabs {
        box-shadow: none;
        border-color: $black4L;

        .item {
            border-radius: 0;
            transition: all .15s ease-in-out;
            border: none;

            &:hover {
                box-shadow: $shadow;
                background: $black3L;
                border-radius: 5px 5px 0 0;
        
                i {
                    text-shadow: none!important;
                    color: $white;
                }
            }

            &.active {
                box-shadow: $shadow;
                background: $black3L;
                border: none;
                border-radius: 5px 5px 0 0;
        
                i {
                    color: $white;
                    text-shadow: none!important;
                }
            }
        }
    }
}

/* --------------------- */
/* --- Journal Image --- */
/* --------------------- */

.window-app.image-popout {
    .window-content {
        padding: 0;

        form.editable {
            padding: 0;
            overflow: hidden;

            .form-group.picker {
                display: flex;
                
                button {
                    background: $black3;
                    border: none;
                    border-radius: 5px;
            
                    &:hover {
                        background: $black3L;
                    }
                }
            }
        }
    }
}

/* --------------------- */
/* --- Sidebar Lists --- */
/* --------------------- */

.directory .directory-list {

    .directory-item {
        margin-bottom: 5px;
        
        &.folder {
            border-radius: 5px;
            padding: 0 5px;

            & > .folder-header {
                border-radius: 5px;
                padding: 10px;
                border: none;
            }
        }

        h3 {
            font-weight: 900;
        }

        img {
            border-radius: 6px;
            padding: 3px;
        }

        &.entity {
            transition: all .15s ease-in-out;
            border: 0;
            background-color: $black2;
            border-radius: 5px;
            padding-right: 3px;
        
            &:hover {
                cursor: pointer;
                background-color: $black3L;
            }
        }

    }

    .subdirectory {
        border: none;
        border-radius: 5px;
    }

}

.directory .directory-header .header-search input {
    background: $black4;
    border-color: transparent;
    color: $white;
}

.directory .action-buttons button {
    font-weight: 500;
}

#journal li.journal {
    padding: 8px 10px;
}

/* ------------------- */
/* --- Scenes List --- */
/* ------------------- */

#scenes {
    .scene {
        transition: all .15s ease-in-out;
        margin: 0;
        border-radius: 10px;
        border: none;
        height: 75px;
        line-height: 75px;
        align-items: center;
        margin-bottom: 5px;

        &:hover {
            filter: brightness(1.4);
        }

        h3 {
            font-weight: 900;
            height: 100%;
            line-height: 75px;
            font-size: 1.1rem;
        }

        a:hover {
            text-shadow: none;
        }
    }

    .subdirectory {
        border: none;
    }
}

/* ---------------------- */
/* --- Playlists list --- */
/* ---------------------- */

#playlists {
    .global-control {
        margin-bottom: 20px;

        .playlist-header {
            padding-bottom: 0;

            h4 {
                text-decoration: none;
                font-weight: 900;
                font-size: 1rem;
            }
        }
    }

    .playlist {
        &:hover {
            cursor: default;
        }

        .playlist-header {
            text-decoration: none;
            padding: 5px;

            .playlist-name {
                font-weight: 900;
                font-size: 1rem;
            }
        }
    }
}

/* ------------------------ */
/* --- Compendium packs --- */
/* ------------------------ */

#compendium .create-compendium {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#compendium li.folder {
    padding: 0;

    & > .folder-header {
        background: $black2;
    
        &:hover {
            filter: brightness(1.1);
        }
    }
}

#compendium li.compendium-pack {
    background: $black2;
    border-radius: 5px;
    margin-bottom: 5px!important;
    padding: 5px 10px!important;

    &:hover {
        background: $black3L;
    }
}

#compendium h3 {
    background: transparent;
    border: none;
    font-weight: 900;
}

// Folder Items

.compendium .directory-list .directory-item {
    border: none;
    background-color: $black3;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px;

    &:hover {
        cursor: pointer;
        background-color: $black3L;
    }

    img {
        margin: 0;
        margin-right: 8px;
        border-radius: 4px;
    }
}

/* ---------------------- */
/* --- Scene Controls --- */
/* ---------------------- */

#controls {
    background: $black2;
    padding: 0;
    border-radius: 7px;

    .control-tools {
        @extend #controls
    }

    .scene-control, .control-tool {
        transition: all .15s ease-in-out;
        background: transparent;
        box-shadow: none;
        border: none;
        margin: 0;
        width: 40px;
        height: 40px;
        display: grid;
        justify-content: center;
        align-items: center;        
        border-radius: 0;

        i {
            font-size: 1rem;
        }

        &.active, &:hover {
            border: none;
            box-shadow: 0 0 3px #6f6f6f inset, 0 0 3px #6f6f6f inset, 0 0 3px #6f6f6f inset, 0 0 3px #6f6f6f inset;
            background: $black3L;
            border-radius: 7px;
        }
    }

    .scene-control.active {
        position: relative;
    }

    .control-tools {
        top: 0;
        left: 40px;
        background: $black3;

        .control-tool.toggle {
            border: none;
            box-shadow: 0 0 3px #9b8dff inset;
            &.active, &:hover {
                box-shadow: 0 0 10px #9b8dff inset;
            }
        }
    }
}

/* ---------------------------- */
/* --- Settings Sidebar Tab --- */
/* ---------------------------- */

#settings {
    padding: 0;

    h2 {
        background: transparent;
        border: none;
        font-weight: 900;
        font-size: 1.2rem;
        margin-top: 20px;
        padding: 0;

        &:first-child {
            margin: 0;
        }
    }

    div {
        margin: 0;
    }
}

/* -------------- */
/* --- Hotbar --- */
/* -------------- */

#hotbar, #custom-hotbar {
    #hotbar-directory-controls, #custom-hotbar-directory-controls { // Left button
        margin-right: 0;
        border-radius: 6px 0 0 6px;
        box-shadow: none;
        background: $black1;
        border: none;
    }

    #action-bar #hotbar-page-controls { // Right button
        margin: 0;
        box-shadow: none;
        border-radius: 0 5px 5px 0;
        background: $black1;
        border: none;
    }

    #macro-list, #custom-macro-list {
        background: $black2;
        border-radius: 0;
        margin: 0;

        .macro {
            transition: all .15s ease-in-out; 
            position: relative;
            border-radius: 0;
            background: transparent;
            border: 1px solid $black1;

            .macro-key, .custom-macro-key {
                top: 0;
                right: 0;
                font-size: 13px;
                border-radius: 0 0 0 6px;
                background: #0d0c0a;
            }

            &.inactive {
                box-shadow: none;
                border: none;

                &:after { // Divider
                    content: '';
                    width: 1px;
                    height: 17px;
                    display: block;
                    background-color: $black1;
                    position: absolute;
                    right: -1px;
                    top: calc(50% - 6px);
                }

                &:before { // + icon on the center
                    transition: .25s ease-in-out;
                    content: '+';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 30px;
                    font-weight: 900;
                    color: white;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover:before {
                    opacity: .1;
                }
            }

            &.active {
                &:after {
                    transition: all .15s ease-in-out;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;                    
                    border-radius: 0;
                    box-shadow: 0 0 3px transparent inset, 0 0 3px transparent inset, 0 0 3px transparent inset, 0 0 3px transparent inset;
                    pointer-events: none;
                }

                &:hover > img {
                    border-radius: 6px;
                }

                &:hover:after {
                    border-radius: 6px;
                    box-shadow: $shadow;
                    background: rgba(255,255,255,.1);
                }
            }

            &.inactive, &.active {
                &:hover {
                    border-radius: 6px;
                    background: $black3;
                    box-shadow: $shadow;
                }
            }
        }
    }
}

#custom-hotbar #custom-macro-list {
    border-radius: 0 6px 6px 0;
}

/* ------------------------ */
/* --- Scene Navigation --- */
/* ------------------------ */

#navigation {
    #nav-toggle {
        margin: 0;
        border-radius: 5px 0 0 5px;
        border: none;
        background: $black1;
    }

    #scene-list .scene {
        transition: all .15s ease-in-out;
        margin: 0;
        border-radius: 0;
        border: none;
        height: 100%;
        background: $black2;
        position: relative;

        &:last-child {
            border-radius: 0 5px 5px 0;
        }

        &:not(:last-child):before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: $black2;
            z-index: -1;
        }

        &:not(:last-child):not(.view):after { // All, except the last and the one being viewed
            content: '';
            display: block;
            width: 1px;
            height: 18px;
            position: absolute;
            top: calc(50% - 9px);
            right: 0;
            background: $black4L;            
        }

        &:hover {
            background: $black3L;
            box-shadow: $shadow;
            border-radius: 5px;
        }

        &.view,
        &.context {
            border: none;
            background: $black3L;
            box-shadow: $shadow;
            border-radius: 5px;
        }

        &.gm {
            border: none;
            box-shadow: 0 0 3px #9b8dff inset;
            background: #2e1846;

            &:hover {
                box-shadow: 0 0 7px #9b8dff inset;
                background: #49296b;
            }

            &.view,
            &.context {
                box-shadow: 0 0 7px #9b8dff inset;
                background: #49296b;
            }
        }

        a:hover {
            text-shadow: none;
        }
    }
}

/* ------------------------ */
/* --- Ability Use Form --- */
/* ------------------------ */

#ability-use-form {
    .notes {
        display: none;
    }

    .form-group:last-child {
        display: block;
    }

    select, select option {
        background: $black3;
        border: none;
        color: $white;
    }
}

/* ----------------- */
/* --- Rolltable --- */
/* ----------------- */

.sheet header.sheet-header h1 input {
    font-weight: 900;
    border: none;
    padding: 10px;
}

.roll-table-config {
    textarea {
        color: $white;
        padding: 5px 10px;
    }

    .table-result input[type="text"],
    .table-result select {
        border: none;
    }

    .table-header {
        border: none;
        font-weight: 900;
        background: $black3;
        border-radius: 5px;
    }
}





.tox.tox-tinymce {
    position: relative;
    padding-bottom: 40px;

    .tox-toolbar-overlord {
        background: none;
    }

    .tox-editor-container .tox-editor-header {
        display: block;
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border: none;
    }
    
    .tox-toolbar__group {
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    
    .tox-tbtn {
        display: none;

        &[title="Save"] {
            display: flex;
            justify-content: center;
            align-content: center;
            background: $black3;
            width: 100%;
            height: 100%;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                background: $black3L;
            }
        }
    }
}