.folder, button, form button, .die-result-overlay-br button, .xmidi-qol-flex-container button, .header-overlay-br button, .dice-tray button, .dice-calculator-toggle, select, input[type="color"], input[type="checkbox"], input[type="radio"] {
    &:hover {
        cursor: pointer;
    }
}

.app {
    background: $black1;
}

/* ----------------- */
/* --- Token HUD --- */
/* ----------------- */

#token-hud {
    input[type="text"] {
        font-size: 1.25rem;
        font-weight: 900;
    }

    .control-icon:hover {
        cursor: pointer;
    }
}

/* ------------------ */
/* --- App Window --- */
/* ------------------ */
.app {
    background: $black1L;

    &#sidebar {
        background: $black1;
    }
}

.window-app {
    border-radius: 5px;

    .window-header {
        border: none;
        
        .window-title {
            font-weight: 500;
        }
    }

    .tabs:not(.tidy5e-navigation):not(.sheet-navigation) .item {
        transition: all .15s ease-in-out;
        font-weight: 500;
        border-radius: 0;
        color: $white1;
        align-items: center;

        &:hover {
            background: $black3L;
            text-shadow: none;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
        }

        &.active {
            background: $black3L;
            text-shadow: none;
            border-radius: 5px 5px 0 0;
            border: none;
        }
    }

    .tab.active {
        margin-bottom: 10px;
    }

    nav.sheet-tabs {
        border: none;
        height: fit-content;
        border-bottom: 1px solid $black3L;
        margin-bottom: 0;
        background: $black3;
        border-radius: 5px 5px 0 0;

        .item {
            padding: 5px 0;
            font-size: .813rem;
            display: flex;
            flex-direction: column;
            line-height: 1;

            i {
                margin-bottom: 5px;
            }
        }
    }

    .window-content {
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    &.image-popout {
        .form-group.title {
            display: none;
        }

        .lightbox-image {
            flex: auto;
        }
    }

    .notes {
        color: $white2;
        margin-top: 0;
        padding: 5px 0;
        padding-bottom: 8px;
        margin-bottom: 15px;
        font-weight: 400;
        border: none;
    }

    .window-resizable-handle,
    .window-draggable-handle {
        opacity: 0;
    }

    .window-resizable-handle:hover {
        cursor: nwse-resize	;
    }

    .window-draggable-handle:hover {
        cursor: grab;
    }
}

.window-app .window-content, .tidy5e.sheet.actor .window-content {
    background: $black2;
    color: $white1;
}

.dnd5e .form-group {
    .form-fields button {
        border: none;
        background: $black3;
    
        &:hover {
            background: $black3L;
        }
    }
}

// Hit Dice Window
.window-app.hd-config {
    input.current, input.max {
        color: $white1;
    }

    input {
        height: 32px;
    }
    
    input.max:hover {
        background: $black2
    }
    
    .form-group button {
        padding: 5px;

        &.increment, &.decrement {
            height: 32px;
            flex: .2;
        }
    }

    .notes {
        margin: 0;
    }
}

/* ----------------------- */
/* --- Settings Window --- */
/* ----------------------- */

#client-settings.window-app {
    .window-content {
        padding-top: 10px;

        .tab.active {
            margin: 0;
        }
        
        nav.tabs {
            border: none;
        }

        #config-tabs {
            border: none;
        }

        .module-header {
            padding: 1em 0;
        }
    }

    &.tui-form.form section.window-content {
        .module-section {
            border: none;
            position: relative;

            &:not(:last-child):after {
                content: '';
                background: $black3;
                display: block;
                position: absolute;
                height: 1px;
                width: 90%;
                left: 5%;
                bottom: 0;
            }

            h2.module-header {
                padding: 10px;
                font-size: 1.125rem;

                &:before {
                    color: $white3;
                }

                &:hover {
                    background: $black2L;
                    border-radius: 10px;

                    &:before {
                        color: $accent1;
                    }
                }
            }

            &.active .module-header:before {
                color: $accent1;
            }
        }

        .tab[data-tab="system"] .module-header {
            padding-left: 40px;
        }
    }
}

#client-settings.app.window-app.form #config-tabs {
    .settings-list h2.module-header span {
        color: $white1;
        opacity: 0.5;
    }
}

#module-management .package-list {
    .package {
        border: none;
        position: relative;
        padding: 5px 0;

        &:hover {
            background: $black2L;
        }

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 90%;
            bottom: 0;
            left: 5%;
            background: $black3;
        }

        .package-title {
            font-weight: 500;
        }

        .package-title,
        .package-metadata,
        .package-description {
            color: $white1;
        }
    }
}

// Permission config

#permissions-config li.permission {
    border: none;
    
    .hint {
        color: $white2;
        font-weight: 400;
    }
}

/* -------------------- */
/* --- Form Windows --- */
/* -------------------- */

form {
    button {
        color: $white1;
        background: $black3;
        border: none;
    }    

    .form-group, 
    .form-group-stacked {
        margin: 0;
        padding: 5px;
        border-radius: 5px;

        input[type="checkbox"] {
            margin: 0;
        }
        
        label {
            font-size: 0.813rem;
            font-weight: 500;
            color: $white1;
        }

        span.units {
            color: $white3;
            font-weight: 400;
        }
    }

    .notes,
    .hint {
        color: $white2;
        font-size: 0.813rem;
        font-weight: 500;
    }

    h1.form-header,
    h2.form-header,
    h3.form-header {
        color: $white1;
        border: none;
        font-weight: 900;
        
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    
}



.app.tui-form .window-content {
    padding-top: 5px;

    .form-group {
        padding-right: 10px;

        &:hover {
            background: $black2L;
        }

        &.has-checkbox {
            &:hover,
            label:hover {
                cursor: pointer;
            }
        }

        &:not(:last-child) {
            border: none;
            position: relative;
    
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 90%;
                bottom: 0;
                left: 5%;
                background: $black3;
            }
        }

        &.has-checkbox:hover {
            cursor: pointer;
        }

        .notes, .hint {
            margin-top: 5px;
        }
    }    
}

.sheet .tab > .notes:first-child {
    background: $black3L;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.window-app textarea {
    background: $black3;
    color: $white1;
    border: none;
}

#drawing-config {
    min-height: 420px;
}

// Dialog Buttons

.dialog .dialog-buttons button, .dialog .dialog-buttons button.default {
    border: none;
    background-color: $black3;
    margin-top: 10px;

    &:hover {
        background-color: $black3L;
    }
}

.dialog-content form > p:first-child {
    margin-top: 0;
    margin-bottom: 15px;
}

// Macro Window

.macro-sheet .form-group.command .furnace-macro-command textarea {
    color: $white1;
    -webkit-text-fill-color: unset;
}

/* --------------------------- */
/* --- Scene Config Window --- */
/* --------------------------- */

.scene-sheet {
    .window-content {
        padding: 25px;
    }
}

/* ------------------------- */
/* --- Filepicker Window --- */
/* ------------------------- */

.filepicker {
    .window-content {
        padding-top: 5px;
    }

    // Header

    .filepicker-header {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: 3fr 1.2fr;
        margin-bottom: 10px;
    
        > .form-group {
            padding: 0;
        }
    
        .tabs {
            grid-column: 1 / -1;
            gap: 5px;

            .item {
                padding-top: 5px;
            }
        }
    
        .current-dir {
            grid-column: 1 / -1;
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 0 0 5px 5px;
            background: $black3L;
    
            input[type="text"] {
                background: $black2L;
    
                &:hover,
                &:focus {
                    background: $black3;
                }
            }
    
            button {
                height: 100%;
                background: $black2;
                border: none;
    
                &:hover {
                    background: $black1;
                }
            }
        }
    
        .filter-dir {
            grid-column: 1 / 2;
    
            label {
                display: none;
            }
        }
    
        > .form-group:last-child {
            grid-column: 2 / -1;
    
            label {
                display: none;
            }

            .display-modes {
                flex: auto;

                .display-mode {
                    background: transparent;
                    margin: 0;
                    border: none;
                    width: fit-content;
                    transition: all .15s ease-in-out;

                    i {
                        color: $white2;
                        transition: all .15s ease-in-out;
                    }
    
                    &:hover,
                    &.active {
                        background: $black3L;
                        text-shadow: none;

                        i {
                            color: $white1;
                        }
                    }
                }
            }

            #display-thumbnails {
                width: fit-content;
                flex: 0;
                padding: 5px 6px;
                line-height: 1;
                border-radius: 3px;
                margin-left: 10px;
                position: relative;
                transition: all .15s ease-in-out;
                background: $accent2;
                box-shadow: inset 0 0 3px $accent2L;

                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: $black4;
                    left: -5px;
                    top: 0;
                }

                i {
                    color: $white3;
                    transition: all .15s ease-in-out;
                }

                &:hover {
                    text-shadow: none;
                    border-radius: 5px;
                    box-shadow: inset 0 0 7px $accent2L;


                    i {
                        color: $white1;
                    }
                }

                &.active {
                    border-radius: 5px;
                    box-shadow: inset 0 0 7px $accent2L;

                    i {
                        color: $white1;
                    }
                }

                
            }
        }
    }

    // File Browser

    .directory {
        border: none;
        margin: 0;

        &.folders-list {
            margin-bottom: 10px;
            border: 1px solid $black3L;
            border-radius: 10px;
            padding: 5px;
        }

        &.files-list {
            border: 1px solid $black3L;
            border-radius: 10px;
            padding: 5px;

            &.tiles-list,
            &.images-list {
                padding: 0;
                border: none;
                border-radius: 0;
            }
        }

        > li {
            border: none;
            border-radius: 5px;

            i {
                opacity: .4;
            }

            video {
                width: 100%;
            }

            &.picked {
                font-weight: 400;
                background: $black3L;
                box-shadow: $shadow;
            }

            &:hover {
                text-shadow: none;
                background: $black3L;
            }
        }
    }

    // Tile List

    .tiles-list li {
        position: relative;
        border-radius: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            transition: all .15s ease-in-out;
            border-radius: 5px;
        }

        &:hover,
        &.picked {
            background-color: $black3L;
            border-radius: 5px;
            box-shadow: none;

            &:after {
                background: rgba(255,255,255,.1);
            }
        }

        &.picked {
            border-radius: 15px;
            
            &:after {
                box-shadow: 0 0 3px white inset;
                background: rgba(255,255,255,.15);
                border-radius: 15px;
            }
        }
    }

    // Image Preview

    .tui-preview {
        position: absolute;
        max-width: 500px;
        max-height: 500px;
        display: block;
        pointer-events: none;
        top: 30px;
        right: 0;
        transition: all .15s ease-in-out;
        z-index: -1;
        border-radius: 0 5px 5px 0;
    }
}

/* ----------------------------- */
/* --- Drawing Config Window --- */
/* ----------------------------- */

#drawing-config {
    // Adjusted width and height to better fit other modules that add tabs to this window
    min-height: 450px;
    min-width: 510px;

    // The range inputs in the drawing window are not nested in a .form-fields div, like
    // every other input in Foundry, so this is a workaround. Atropos, please fix :(
    .tab[data-tab="text"] .form-group:nth-child(5),
    .tab[data-tab="text"] .form-group:nth-child(6),
    .tab[data-tab="fill"] .form-group:nth-child(3),
    .tab[data-tab="fill"] .form-group:nth-child(4),
    .tab[data-tab="lines"] .form-group:nth-child(3),
    .tab[data-tab="lines"] .form-group:nth-child(4),
    .tab[data-tab="lines"] .form-group:nth-child(5) {
        grid-template-columns: 2fr 2.5fr .5fr;
    }
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#sidebar {
    width: 320px;
    padding: 10px;

    .directory .directory-header .header-search {
        margin-bottom: 3px;
    }

    &.collapsed {
        padding: 0;

        #sidebar-tabs > .item.active {
            border: none;
        }
    }

    .sidebar-tab .header-actions {
        margin-bottom: 5px;
        gap: 5px;

        .flexrow {
            gap: 5px;
        }

        button {
            margin: 0;
            overflow: hidden;
        }

        & > *:last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }

    #sidebar-tabs {
        box-shadow: none;
        border-color: $black4L;

        .item {
            border-radius: 0;
            transition: all .15s ease-in-out;
            border: none;

            i {
                text-shadow: none!important;
            }

            &:hover {
                background: $black3L;
                border-radius: 5px 5px 0 0;
        
                i {
                    text-shadow: none!important;
                    color: $white1;
                }
            }

            &.active {
                box-shadow: none;
                background: $black4L;
                border: none;
                border-radius: 5px 5px 0 0;
        
                i {
                    color: $white1;
                }
            }
        }
    }
}

/* --------------------- */
/* --- Journal Image --- */
/* --------------------- */

.window-app.image-popout {
    .window-content {
        padding: 0;

        form.editable {
            padding: 0;
            overflow: hidden;

            .form-group.picker {
                display: flex;
                
                button {
                    background: $black3;
                    border: none;
                    border-radius: 5px;
            
                    &:hover {
                        background: $black3L;
                    }
                }
            }
        }
    }
}

/* --------------------- */
/* --- Sidebar Lists --- */
/* --------------------- */

.directory .directory-list {

    .directory-item {
        margin-bottom: 5px;
        
        &.folder {
            border-radius: 5px;
            padding: 0 5px;

            & > .folder-header {
                border-radius: 5px;
                padding: 10px;
                border: none;
            }
        }

        h3 {
            font-weight: 900;
        }

        img {
            border-radius: 6px;
            padding: 3px;
        }

        &.entity {
            transition: all .15s ease-in-out;
            border: 0;
            background-color: $black2;
            border-radius: 5px;
            padding-right: 3px;
        
            &:hover {
                cursor: pointer;
                background-color: $black3L;
            }
        }

    }

    .subdirectory {
        border: none;
        border-radius: 5px;
    }

}

.directory .directory-header .header-search input {
    background: $black4;
    border-color: transparent;
    color: $white1;
}

.directory .action-buttons button {
    font-weight: 500;
}

#journal li.journal {
    padding: 8px 10px;
}

/* ------------------- */
/* --- Scenes List --- */
/* ------------------- */

#scenes {
    .scene {
        transition: all .15s ease-in-out;
        margin: 0;
        border-radius: 10px;
        border: none;
        height: 75px;
        line-height: 75px;
        align-items: center;
        margin-bottom: 5px;

        &.context {
            border: none;
        }

        &:hover {
            box-shadow: 0 0 20px #000 inset, 0 0 40px #000 inset;
        }

        h3 {
            font-weight: 900;
            height: 100%;
            line-height: 75px;
            font-size: 1.1rem;
        }

        a:hover {
            text-shadow: 1px 1px 3px #000;
        }
    }

    .subdirectory {
        border: none;
    }
}

/* ---------------------- */
/* --- Playlists list --- */
/* ---------------------- */

#playlists {
    .global-control {
        margin-bottom: 20px;

        .playlist-header {
            padding-bottom: 0;

            h4 {
                text-decoration: none;
                font-weight: 900;
                font-size: 1rem;
            }
        }
    }

    .playlist {
        &:hover {
            cursor: default;
        }

        .playlist-header {
            text-decoration: none;
            padding: 5px;

            .playlist-name {
                font-weight: 900;
                font-size: 1rem;
            }
        }
    }
}

/* ------------------------ */
/* --- Compendium packs --- */
/* ------------------------ */

#compendium .create-compendium {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#compendium li.folder {
    padding: 0;

    & > .folder-header {
        background: $black2;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: transparent;
            transition: all .15s ease-in-out;
        }
    
        &:hover:after {
            background: rgba(255,255,255,.1);
            border-radius: 5px;
        }
    }
}

#compendium li.compendium-pack {
    background: $black2;
    border-radius: 5px;
    margin: 5px!important;
    margin-top: 0!important;
    padding: 5px 10px!important;

    &:hover {
        background: $black3L;
    }
}

#compendium .subdirectory .compendium-folder {
    margin-left: 5px;
    margin-right: 5px;
}

#compendium h3 {
    background: transparent;
    border: none;
    font-weight: 900;
}

// Folder Items

.compendium .directory-list .directory-item {
    border: none;
    background-color: $black3;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px;

    &:hover {
        cursor: pointer;
        background-color: $black3L;
    }

    img {
        margin: 0;
        margin-right: 8px;
        border-radius: 4px;
    }
}

/* ---------------------- */
/* --- Scene Controls --- */
/* ---------------------- */

#controls {
    background: $black2;
    padding: 0;
    border-radius: 7px;

    .control-tools {
        @extend #controls;
        height: auto;
    }

    .scene-control, .control-tool {
        transition: all .15s ease-in-out;
        background: transparent;
        box-shadow: none;
        border: none;
        margin: 0;
        width: 40px;
        height: 40px;
        display: grid;
        justify-content: center;
        align-items: center;        
        border-radius: 0;
        flex-basis: auto;

        i {
            font-size: 1rem;
        }

        &.active, &:hover {
            border: none;
            box-shadow: $shadow;
            background: $black3L;
            border-radius: 7px;
        }
    }

    .scene-control.active {
        position: relative;
    }

    .control-tools {
        top: 0;
        left: 40px;
        background: $black3;

        .control-tool.toggle {
            border: none;
            box-shadow: 0 0 3px $accent2L inset;
            background: $accent2;

            &.active, &:hover {
                box-shadow: 0 0 10px $accent2L inset;
            }
        }
    }
}

/* ---------------------------- */
/* --- Settings Sidebar Tab --- */
/* ---------------------------- */

#settings {
    padding: 0;

    h2 {
        background: transparent;
        border: none;
        font-weight: 900;
        font-size: 1.2rem;
        margin-top: 20px;
        padding: 0;

        &:first-child {
            margin: 0;
        }
    }

    div {
        margin: 0;
    }

    button {
        padding: 5px;
        margin: 0;
        margin-bottom: 3px;

        &[data-action="players"] {
            margin-top: 20px;
        }
    }

    div#combat-utility-belt {
        

        h4:first-child {
            @extend h2;
            margin-top: 20px;
            margin-bottom: 6px;
        }
    }
}

/* -------------- */
/* --- Hotbar --- */
/* -------------- */

#hotbar, #custom-hotbar {
    #hotbar-directory-controls, #custom-hotbar-directory-controls { // Left button
        margin-right: 0;
        border-radius: 6px 0 0 6px;
        box-shadow: none;
        background: $black1;
        border: none;
    }

    #action-bar #hotbar-page-controls { // Right button
        margin: 0;
        box-shadow: none;
        border-radius: 0 5px 5px 0;
        background: $black1;
        border: none;
    }

    #macro-list, #custom-macro-list {
        background: $black2;
        border-radius: 0;
        margin: 0;

        .macro {
            transition: all .15s ease-in-out; 
            position: relative;
            border-radius: 0;
            background: transparent;
            border: 1px solid $black1;

            .macro-key, .custom-macro-key {
                top: 0;
                right: 0;
                font-size: 13px;
                border-radius: 0 0 0 6px;
                background: $black1;
            }

            &.inactive {
                box-shadow: none;
                border: none;

                &:after { // Divider
                    content: '';
                    width: 1px;
                    height: 17px;
                    display: block;
                    background-color: $black1;
                    position: absolute;
                    right: -1px;
                    top: calc(50% - 6px);
                }

                &:before { // + icon on the center
                    transition: .25s ease-in-out;
                    content: '+';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 30px;
                    font-weight: 900;
                    color: white;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover:before {
                    opacity: .1;
                }
            }

            &.active {
                &:after {
                    transition: all .15s ease-in-out;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;                    
                    border-radius: 0;
                    box-shadow: 0 0 3px transparent inset, 0 0 3px transparent inset, 0 0 3px transparent inset, 0 0 3px transparent inset;
                    pointer-events: none;
                }

                &:hover > img {
                    border-radius: 6px;
                }

                &:hover:after {
                    border-radius: 6px;
                    box-shadow: $shadow;
                    background: $highlight;
                }
            }

            &.inactive, &.active {
                &:hover {
                    border-radius: 6px;
                    background: $black3;
                    box-shadow: $shadow;
                }
            }
        }
    }
}

#custom-hotbar #custom-macro-list {
    border-radius: 0 6px 6px 0;
}

/* ------------------------ */
/* --- Scene Navigation --- */
/* ------------------------ */

#navigation {
    #nav-toggle {
        margin: 0;
        border-radius: 5px 0 0 5px;
        border: none;
        background: $black1;
    }

    #scene-list .scene {
        transition: all .15s ease-in-out;
        margin: 0;
        border-radius: 0;
        border: none;
        height: 34px;
        background: $black2;
        position: relative;

        &:last-child {
            border-radius: 0 5px 5px 0;
        }

        &:not(:last-child):before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: $black2;
            z-index: -1;
        }

        &:not(:last-child):not(.view):after { // All, except the last and the one being viewed
            content: '';
            display: block;
            width: 1px;
            height: 18px;
            position: absolute;
            top: calc(50% - 9px);
            right: 0;
            background: $black4L;            
        }

        &:hover {
            background: $black3L;
            box-shadow: $shadow;
            border-radius: 5px;
        }

        &.view,
        &.context {
            border: none;
            background: $black3L;
            box-shadow: $shadow;
            border-radius: 5px;
        }

        &.gm {
            border: none;
            box-shadow: 0 0 3px $accent2L inset;
            background: $accent2;

            &:hover {
                box-shadow: 0 0 10px $accent2L inset;
            }

            &.view,
            &.context {
                box-shadow: 0 0 10px $accent2L inset;
            }
        }

        a:hover {
            text-shadow: none;
        }
    }
}

/* ------------------------ */
/* --- Ability Use Form --- */
/* ------------------------ */

#ability-use-form {
    .notes {
        display: none;
    }

    .form-group:last-child {
        display: block;
    }

    select, select option {
        background: $black3;
        border: none;
        color: $white1;
    }
}

/* ----------------- */
/* --- Rolltable --- */
/* ----------------- */

.sheet header.sheet-header h1 input {
    font-weight: 900;
    border: none;
    padding: 10px;
}

.roll-table-config {
    textarea {
        color: $white1;
        padding: 5px 10px;
    }

    .table-result input[type="text"],
    .table-result select {
        border: none;
    }

    .table-header {
        border: none;
        font-weight: 900;
        background: $black3;
        border-radius: 5px;
    }
}





.tox.tox-tinymce {
    position: relative;
    padding-bottom: 40px;

    .tox-toolbar-overlord {
        background: none;
    }

    .tox-editor-container .tox-editor-header {
        display: block;
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border: none;
    }
    
    .tox-toolbar__group {
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    
    .tox-tbtn {
        display: none;

        &[title="Save"] {
            display: flex;
            justify-content: center;
            align-content: center;
            background: $black3;
            width: 100%;
            height: 100%;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                background: $black3L;
            }
        }
    }
}

/* -------------------------- */
/* --- Controls Reference --- */
/* -------------------------- */

#controls-reference {
    h2, h3 {
        border: none;
        margin-top: 20px;
    }

    h2 {
        padding-top: 10px;        
        border-top: 1px solid $black4;
    }

    ol.hotkey-list li {
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background: $black3;
        }

        &.gm .key {
            background: $accent2;
            border-color: $accent2L;
        }
    }
}