.chat-message {
    background: $black2;
    color: $white1;
    border-color: $black4!important;
    font-family: 'Roboto';

    .message-header {
        color: $white1;

        .message-sender {
            font-weight: 900;
            margin-bottom: 3px;
            white-space: normal;
        }
    }

    .message-content {
        line-height: 1.4;
    }
}

.message-metadata .message-delete {
    margin-left: 5px;
}

.chat-message .table-draw {
    .table-description {
        color: $white1;
        opacity: .7;
    }

    .table-results .table-result img.result-image {
        background: $white2;
        border-radius: 5px;
    }
}

.dnd5e.chat-card .card-header, .midi-qol-nobox, .dnd5e.chat-card .card-footer {
    border-color: $black4L;
}

.dnd5e.chat-card {
    font-size: 0.875rem;

    .card-header {
        margin: 3px 0;
    
        h3 {
            color: $white1;
            font-family: 'roboto';
            font-size: 1rem;

            &:hover {
                color: $white1;
                text-shadow: 0 0 10px var(--primary-accent);
                cursor: pointer;
            }
        }
    }

    .card-buttons button {
        border: 1px solid $black3L;
        font-size: 14px;
        padding: 10px 5px;
        height: auto;
        border-radius: 4px;
    }
}

.dice-roll {
    .dice-total {
        &.critical {
            background: $success;
            border-color: $success;
            color: $white1;
        }

        &.fumble {
            background: $failure;
            border-color: $failure;
            color: $white1;
        }
    }

    .dice-row {
        gap: 5px;
    }
    
    &.red-dual .die-icon {
        background-image: none;
    
        &:after {
            content: "";
            background-image: url(../../../icons/svg/d20-grey.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 22px;
            height: 100%;
            opacity: 0.4;
        }
    }

    .dice-formula, .dice-total {
        box-shadow: none;
        border-color: $black4;
    }

    .dice-row {
        margin-bottom: 3px;

        .failure, .success {
            color: $white1;
        }

        .dice-total.success {
            background: $success;
            border-color: $success;
        }

        .dice-total.failure {
            background: $failure;
            border-color: $failure;
        }

        .mixed {
            color: $mixed-roll;
        }

        .red-crit-damage {
            color: $success;
        }
    }
}

.br5e-roll-label {
    font-weight: 900;
    margin: 5px 0;
}

.midi-qol-nobox {
    margin-top: 5px;
}

.midi-qol-flex-container div:first-child {
    margin-left: 0;
}

.midi-qol-target-name {
    font-weight: 900;

    &:hover {
        text-shadow: 0 0 4px var(--primary-accent);
        cursor: pointer;
    }
}

.die-result-overlay-br button, .xmidi-qol-flex-container button {
    background-color: $black3;
    border: none;
    color: $white1;
    width: 30px;
    height: 30px;

    &:hover {
        background: $black3L;
    }

    &.icon.heart-plus {
        position: relative;

        &:after {
            content: url("/modules/twilight-ui/img/heart-plus.svg");
            position: absolute;
            top: 7.5px;
            left: 7.5px;
            display: block;
            width: 15px;
            height: 15px;
        }
    }
}

.dice-roll .dice-formula, .dice-roll .dice-total {
    line-height: 34px;
}

.dice-tooltip .part-header .part-flavor {
    color: $white1;
}

.chat-message.whisper {
    background: $whisper;
    border-color: $whisperBorder!important;
}

.xmidi-qol-flex-container table {
    border: none;
}

#chat-form textarea {
    background: $black3;
    color: $white1;
}

#chat-controls .roll-type-select {
    @extend select;
}

.xmidi-qol-flex-container thead {
    display: none;
}

#chat-log {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}