//@import 'variables';

#tinymce {
    padding-top: 0;
    color: $white;
}

.editor-content, #tinymce {

    p, pre, div, span, h1, h2, h3, h4, h5, h6, ol, ul, em, strong {
        font-family: 'Roboto', sans-serif;
        color: $white;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    ul {
        color: $white!important;
        font-family: 'roboto'!important;
        font-size: 1rem!important;
    }

    p, pre, ol, ul {
        font-size: 1rem;
        line-height: 1.625rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    & > p:first-child, & > pre:first-child, & > ol:first-child, & > ul:first-child{
        margin-top: 0;
    }

    pre {
        white-space: normal;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
        border-bottom: none;
        color: $white!important;
        font-family: 'roboto'!important;
    }

    h1 {
        font-size: 2rem;
        margin-top: 3.75rem;
        margin-bottom: 0;
    }

    & > h1:first-child {
        margin-top: 0;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 0;
    }

    & > h2:first-child {
        margin-top: 0;
    }

    h3 {
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    & > h3:first-child {
        margin-top: 0;
    }

    h4 {
        font-size: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    & > h4:first-child {
        margin-top: 0;
    }

    h5 {
        font-size: 0.875rem;
        margin-top: 1.25rem;
        margin-bottom: 0;
    }

    & > h5:first-child {
        margin-top: 0;
    }

    h6 {
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    & > h6:first-child {
        margin-top: 0;
    }

    .secret {
        margin: 12px 0;
        border: 2px dashed #802dcc;
        background-color: rgba(128,45,204,.1);

        padding: 0 10px 20px 10px;
    }

    .cjs-top_level_secret {
        @extend .secret;
        border: 2px dashed #cc2d2d;
        background-color: rgba(204, 45, 45, 0.1);
        
        span {
            display: inline-block;
            margin-top: 1rem;
        }
    }

    hr {
        border: none;
        background-color: $white;
        height: 1px;
        opacity: .2;
    }

    table {
        margin-top: 1.5rem;
        font-size: 1rem;
        border: none;
        font-family: 'roboto';

        thead {
            font-weight: 900;
        }

        tr:nth-child(even) {
            background-color: #252423;
        }

        td {
            padding: 10px 5px;
            color: $white;
        }
        
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .smui-panel {
        padding: 10px;
        padding-left: 40px;
        position: relative;
        margin-top: 1rem;

        &:before {
            display: block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 13px;
            top: 13px;
        }

        & > *:first-child {
            margin-top: 0;
        }

        &.smui-info {
            background: rgba(0,121,204,.15);

            &:before {
                content: url('/modules/twilight-ui/img/info-circle-solid.svg');
            }
        }

        &.smui-note {
            background: rgba(128,45,204,.15);

            &:before {
                content: url('/modules/twilight-ui/img/sticky-note-solid.svg');
            }
        }        
        
        &.smui-success {
            background: rgba(0,156,131,.15);

            &:before {
                content: url('/modules/twilight-ui/img/check-circle-solid.svg');
            }
        }
        
        &.smui-warning {
            background: rgba(196,148,84,.15);

            &:before {
                content: url('/modules/twilight-ui/img/exclamation-triangle-solid.svg');
            }
        }
        
        &.smui-error {
            background: rgba(197,73,2,.15);

            &:before {
                content: url('/modules/twilight-ui/img/times-circle-solid.svg');
            }
        }
        
    }
}