// Remove later

.banner {
    background: red;
}

// --------------


button,
.window-app button {
    border: none;
    background: $primary3;
    color: $secondary1L;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    align-self: stretch;

    transition: background .15s ease-in-out;

    &:hover {
        background: $primary3L;
        box-shadow: none;
    }

    i {
        font-weight: 700;
    }

    &[type="submit"] {
        background: $accent;

        &:hover {
            background: $accentL;
        }

        &:last-child {
            margin-top: 16px;
        }
    }
}

// Inputs
.app input:not([type="checkbox"]),
.app select,
.app textarea {
    padding: .5em;
    border-radius: 4px;
    color: $secondary1L;
    width: 100%;
    height: fit-content;
    transition: border .15s ease-in-out;

    &:hover {
        border-color: $secondary3;
    }

    &:focus {
        border-color: $secondary2;
        box-shadow: none;
    }
}

.app select option,
.app select optgroup {
    background: $primary1; 
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

textarea {
    font-family: var(--font-primary);
}


// Removes the parchment background
.window-app .window-content,
.inline-roll .dice-tooltip,
.chat-message,
#chat-form textarea,
.sheet.journal-entry .journal-entry-content {
    background: $primary2;
}

div#camera-views,
.app {
    background: $primary1;
}


.app {
    border-radius: 8px;
    border: 1px solid $secondary4;
    box-shadow: none;
}

.sheet.journal-entry .window-header {
    border-bottom: 1px solid $secondary4;
}

.window-app {
    .window-header {
        border-bottom: 1px solid $secondary4;

        .window-title {
            font-weight: 700;

            .document-id-link {
                margin-left: .5em;
                opacity: 1;
                color: $secondary2;

                i:before {
                    content: "\f0c5";
                    font-size: .85em;
                    font-weight: 400;
                }
            }
        }
    }

    &.minimized .window-header {
        border: none;
    }

    .window-content {
        padding: 16px;
        border-radius: 0 0 8px 8px;

        &:has(nav.tabs) {
            padding-top: 0;
        }
    }

    .window-resizable-handle {
        background: transparent;
        padding: 0;
        border: none;

        display: inline-block;
        width: 12px;
        height: 12px;

        right: -1px;
        border-radius: 0 0 8px 0;

        background-image: radial-gradient($secondary3 40%, transparent 40%);
        background-size: 4px 4px;
        background-position: 0 100%;
        background-repeat: repeat-x;

        i {
            display: none;
        }

        &:before,
        &:after {
            background-image: radial-gradient($secondary3 40%, transparent 40%);
            background-size: 4px 4px;
            background-position: 0 100%;
            background-repeat: repeat-x;

            content: '';
            display: block;
            height: 33%;
        }

        &:before {
            width: 33%;
            margin-left: 66%;
        }

        &:after {
            width: 66%;
            margin-left: 33%;
        }

        &:hover {
            cursor: nw-resize;
        }
    }
}
// scrollbar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: $secondary3;
    border: none;
}
:root {
    scrollbar-width: thin;
    scrollbar-color: $secondary3;
}