// Remove later

.banner {
    background: red;
}

// --------------


button,
.window-app button {
    border: none;
    background: $primary3;
    color: $secondary1L;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
    align-self: stretch;
    padding: .25em 1em;

    transition: background .15s ease-in-out;

    i {
        transition: color .12s ease-in-out;
    }

    &:hover {
        background: $primary3L;
        box-shadow: none;

        i {
            color: $accent;
        }
    }

    i.fas {
        font-weight: 500;
    }

    &[type="submit"] {
        background: $accent;

        i {
            font-size: 1em;
        }

        &:hover {
            background: $accentL;

            i {
                color: $secondary1;
            }
        }

        &:last-child {
            margin-top: 16px;
        }
    }
}

// Inputs
.app input:not([type="checkbox"],[type="color"]),
.app select,
.app textarea,
input[type="range"] + .range-value {
    padding: .5em;
    border-radius: 4px;
    color: $secondary1L;
    width: 100%;
    height: fit-content;
    transition: border .15s ease-in-out;
}

.app input:not([type="checkbox"], [type="color"]):hover,
.app select:hover,
.app textarea:hover,
input[type="range"]+.range-value:hover {
    border-color: $secondary3;
}

.app input:not([type="checkbox"], [type="color"]):focus,
.app select:focus,
.app textarea:focus,
input[type="range"]+.range-value:focus {
    border-color: $secondary2;
    box-shadow: none;
}

.app select {

    option,
    optgroup {
        background: $primary1;
    }

}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="color"][data-edit] {
    height: auto;
    align-self: stretch;
    padding: 0;
    border: none;
}

input[type=range] {
    &::-webkit-slider-runnable-track {
        box-shadow: none;
        background: $secondary4;
        border-radius: 3px;
        border: none;
        transition: background .12s ease-in-out;
    }

    &::-webkit-slider-thumb {
        box-shadow: none;
        border: none;
        border-radius: 50px;
        background: $accent;
        margin-top: -3px;
    }

    &:focus::-webkit-slider-runnable-track {
        background: $secondary3;
    }

    + .range-value {
        flex: 0 0 64px;
        text-align: start;
    }
    
}

textarea {
    font-family: var(--font-primary);
}


// Removes the parchment background
.window-app .window-content,
.inline-roll .dice-tooltip,
.chat-message,
#chat-form textarea,
.sheet.journal-entry .journal-entry-content {
    background: $primary2;
}

div#camera-views,
.app {
    background: $primary1;
}


.app {
    border-radius: 8px;
    border: 1px solid $secondary4;
    box-shadow: none;
}

.sheet.journal-entry .window-header {
    border-bottom: 1px solid $secondary4;
}

.window-app {
    .window-header {
        border-bottom: 1px solid $secondary4;

        .window-title {
            font-weight: 700;

            .document-id-link {
                margin-left: .5em;
                opacity: 1;
                color: $secondary2;

                i:before {
                    content: "\f0c5";
                    font-size: .85em;
                    font-weight: 400;
                }
            }
        }

        a {
            color: $secondary2;
            display: flex;
            height: fit-content;
            align-items: center;
            gap: 4px;

            i[class^=fa] {
                margin: 0;
            }

            &.close i {
                font-size: 1em;
            }

            &:hover {
                color: $secondary1;
            }
        }
    }

    &.minimized .window-header {
        border: none;
    }

    .window-content {
        padding: 16px;
        border-radius: 0 0 8px 8px;
    }

    &.sheet:has(nav.tabs) {
        .window-header {
            border-bottom: none;
        }
    }

    &:has(nav.tabs) {

        .window-content {
            padding: 0;
            background: $primary1;

            .tab.active {
                padding: 16px;
                background: $primary2;
            }

            button[type="submit"] {
                margin: 16px;
                margin-top: 0;
                width: calc(100% - 32px);
            }
        }
    }

    .window-resizable-handle {
        background: transparent;
        padding: 0;
        border: none;

        display: inline-block;
        width: 12px;
        height: 12px;

        right: -1px;
        border-radius: 0 0 8px 0;

        background-image: radial-gradient($secondary3 40%, transparent 40%);
        background-size: 4px 4px;
        background-position: 0 100%;
        background-repeat: repeat-x;

        i {
            display: none;
        }

        &:before,
        &:after {
            background-image: radial-gradient($secondary3 40%, transparent 40%);
            background-size: 4px 4px;
            background-position: 0 100%;
            background-repeat: repeat-x;

            content: '';
            display: block;
            height: 33%;
        }

        &:before {
            width: 33%;
            margin-left: 66%;
        }

        &:after {
            width: 66%;
            margin-left: 33%;
        }

        &:hover {
            cursor: nw-resize;
        }
    }
}

.tabs {
    justify-content: space-between;

    .item {
        color: $secondary2;

        &.active {
            text-shadow: none;
            color: $secondary1;
        }
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: $secondary3;
    border: none;
}
:root {
    scrollbar-width: thin;
    scrollbar-color: $secondary3;
}

//Context Menu
#context-menu {
    background: $primary1;
    border-color: $secondary4;

    li.context-item {
        padding: 0 8px;
        transition: color .12s ease-in-out;

        i {
            margin-right: 8px;
        }

        &:hover {
            text-shadow: none;
            color: $accent;
            cursor: pointer;
        }
    }
}

#players {
    border-color: $secondary4;

    h3 {
        border-bottom: 1px solid $secondary4;
        transition: background .12s ease-in-out;

        i {
            transition: background .12s ease-in-out;
        }

        &:hover {
            background: $secondary4L;
            cursor: pointer;

            i {
                color: $accent;
            }
        }
    }

    ol .player.context {
        border-color: transparent;
        color: $accent;
    }
}

#support-details {
    #support-report {
        border: 1px solid $secondary4;
        border-radius: 4px;
    }

    button[name="copy"] {
        background: $accent;

        i {
            font-weight: 500;
        }

        &:hover {
            background: $accentL;
        }
    }
}

#client-settings,
#tours-management,
#keybindings {
    aside.sidebar {
        padding: 16px 0;

        .entry-filter {
            margin: 0 16px;
            margin-bottom: 16px;
        }

        position: relative;
        border: none;

        &:after {
            content: '';
            height: 100%;
            width: 1px;
            position: absolute;
            right: 0px;
            top: 0;
            background: $secondary4;
            z-index: 1;
        }

        .category-tab {
            padding: 8px 16px;
            border: 1px solid transparent;
            border-radius: 4px 0 0 4px;
            margin-left: 4px;
            transition: all .12s ease-in-out;
            text-align: start;
            gap: .5em;

            &.active {
                background: $primary2;
                border-color: $secondary4;
                border-right: 1px solid transparent;
                position: relative;
                z-index: 2;
            }
        }

        .reset-all {
            margin: 0 16px;
            width: calc(100% - 32px);
        }
    }

    .categories {
        .scrollable {
            padding: 0;
            background: $primary2;

            .form-group button {
                text-align: start;
                justify-content: flex-start;
            }
        }

        h2.border {
            border-color: $accent;
        }

        footer {
            background: $primary2;
            margin: 0;
            padding-top: 16px;
            border-top: solid 1px $secondary4;
        }
    }
}

#keybindings {
    .action {
        border-bottom: 1px solid $secondary4;
        align-items: flex-start;
    }

    .binding {

        border: 1px solid $secondary4;
        padding: .5em;
        border-radius: 4px;

        .binding-fields {
            position: relative;

            .binding-input-icon {
                margin: 0;
                position: absolute;
                right: 16px;
                top: calc(50% - 8px);
                color: $secondary2;
            }
        }

        .key {
            background: $primary3;

            &.uneditable {
                background: transparent;
                color: $secondary2;
            }
        }

        .control {
            &.conflicts {
                color: $accent;
            }

            &.uneditable {
                color: $secondary4;
            }
        }
    }
}

.tour,
#tooltip.tour {
    background: $primary2;
    padding: 16px;
    border: 1px solid $secondary4;
    border-radius: 8px;

    .content {
        color: $secondary1L;
        text-align: start;
        margin: 1em 0;
        line-height: 1.3;
    }

    [data-action="exit"] {
        right: 16px;
    }

    .step-title {
        color: $secondary1;
        font-weight: 700;
    }

    .step-header {
        border-bottom: 1px solid $secondary4;
        padding-bottom: 8px;

        &:after {
            border-color: $secondary4;
            border: 1px solid $secondary4;
            display: none;
        }
    }

    .step-button-disabled {
        color: $secondary4;
    }

    .step-controls .progress {
        color: $secondary2;
        font-size: .75em;
    }
}

.tour-fadeout {
    border-radius: 8px;
}

.dialog .dialog-buttons {
    margin-top: 8px;
    gap: 8px;

    button {
        @extend button;

        &.default {
            @extend button;
            background: $accent;

            &:hover {
                background: $accentL;

                i {
                    color: $secondary1;
                }
            }
        }
    }
}

#tooltip {
    background: $primary1;
    padding: .5em 1em;
    border: 1px solid $primary4;
    border-radius: 4px;
    transition: visibility .12s ease-in-out, opacity .12s ease-in-out;

    &.active {
        transition: opacity .12s ease-in-out;
    }
}

.app.filepicker {
    
    .window-content {
        padding: 16px;

        header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            nav.tabs {
                width: 100%;
            }

            .form-group{
                width: 100%;
                padding-left: 16px;
                padding-right: 16px;
                background: $primary2;
                margin: 0;

                &:has(.display-modes)  {
                    padding: 0;
                    padding-left: 8px;
                    padding-right: 16px;
                    width: 40%;
                    
                    .display-modes {
                        width: 100%;
                        flex-basis: 100%;
                    }

                    a {
                        width: 100%;
                        background: transparent;
                        border: none;
                        margin: 0;
                        background: $primary3;
                        border-radius: 0;
                        padding: 1em;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background .12s ease-in-out;
                        width: 100%;
            
                        &:first-child {
                            border-radius: 4px 0 0 4px;
                        }
            
                        &:last-child {
                            border-radius: 0 4px 4px 0;
                        }
            
                        &:not(:last-child):after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 12.5%;
                            width: 1px;
                            height: 75%;
                            background: $secondary4;                            
                        }

                        &:hover {
                            background: $primary3L;

                            i {
                                color: $accent;
                            }
                        }

                        &.active {
                            background: $primary4;
                            color: $accent;
                            text-shadow: none;
                        }
                    }
                }

                label {
                    display: none;
                }

                &.filter-dir {
                    width: 60%;
                    padding-right: 0;
                    position: relative;

                    &:after {
                        content: "\f002";
                        font-family: var(--font-awesome);
                        position: absolute;
                        right: 16px;
                        top: calc(50% - 12px);
                        color: $secondary3;

                    }
                }
            }
        }

        section.filepicker-body {
            padding: 16px;
            background: $primary2;

            .directory {
                border: none;
                margin: 0;
                background: transparent;
                border-bottom: 1px solid $secondary4;

                &.folders-list {
                    border-top: 1px solid $secondary4;
                }

                > li {
                    border: none;
                    padding: 0 8px;
                    height: fit-content;
                    border-radius: 4px;
                    transition: all .12s ease-in-out;

                    i {
                        transition: color .12s ease-in-out;
                    }

                    &:hover,
                    &.picked {
                        text-shadow: none;
                        color: $secondary1;
                        background: $secondary4;

                        i {
                            color: $accent;
                        }
                    }
                }

                &.thumbs-list > li {
                    padding: 8px;
                }

                &.tiles-list > li {
                    padding: 4px;
                }
            }
        }

        footer.form-footer {
            margin: 0;
            margin-top: -3px;
            padding: 16px;
            padding-top: 0;
            background: $primary2;

            .form-group:hover {
                background: transparent;
            }
        }
    
        .current-dir button {
            @extend button;
        }

        button.privacy:hover i {
            color: $gmL;
        }

        .private {
            button.privacy {
                background: $gmBg;
                box-shadow: 0 0 4px $gm inset;
                transition: all .12s ease-in-out;
        
                &:hover {
                    background: $gm;
                    box-shadow: 0 0 4px $secondary1 inset;
        
                    i {
                        color: $secondary1;
                    }
                }
            }

            .directory,
            .private.dir {
                background: $gmBg;
            }
        }
    }
}