#sidebar.collapsed #sidebar-tabs > .item.active { // Remove the borders on the collapsed sidebar
    border-radius: 0;
    border: none;
    border-right: 1px solid;
}

#sidebar {
    border: none;
    border-radius: 0;
    position: relative;
    overflow: visible;
    padding: 0;
    background: transparent;
    border: none;
    margin-right: 44px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    transition: all .12s ease-in-out;
    --sidebar-item-height: 56px;
    --sidebar-header-height: 56px;
    pointer-events: none; // Allows dragging the canvas on the empty space

    // --- Change directory size to fit content to allow dragging on the empty space
    .directory-list { 
        height: fit-content;
        flex: initial;

        // Restores the directory height to be able to show context menus without scrolling
        &:has(#context-menu) {
            flex: 1; 
        }
    }

    // --- Restore pointer events on the interactable items
    .sidebar-tab * {
        pointer-events: all;
    }

    // --- Directory buttons are relocated to this div trhough the `move-action-buttons.js` script
    #sidebar-buttons {
        position: absolute;
        top: 16px;
        left: -52px;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-wrap: wrap;
        max-height: 100%;

        button {
            width: 42px;
            height: 42px;
            background: rgba(0, 0, 0, .5);

            i {
                margin: 0;
                font-size: .9em;
                font-weight: 700;
            }

            &:hover {
                background: $primary1;

                i {
                    color: $accent;
                }
            }
        }
    }

    #sidebar-tabs {
        position: absolute;
        z-index: -1;
        top: 0;
        right: -44px;
        flex-direction: column;
        height: fit-content;
        background: transparent;
        border: none;
        margin: 0;
        justify-content: flex-start;
        padding-right: 0;
        font-size: 16px;
        box-shadow: none;
        pointer-events: all;

        > .item {
            border: none;
            line-height: 1;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            margin: 0;
            flex: none;
            transition: all .12s ease-in-out;
            border-right: 1px solid transparent;

            .notification-pip {
                right: 3px;
                top: calc(50% - 10px);
            }

            &:hover {
                color: $accent;
                border-right: 1px solid $accent;
            }

            &.active {
                box-shadow: none;
                border: none;
                color: $accent;
                background: linear-gradient(270deg, $accentBg 0%, rgba(0, 0, 0, 0) 100%);
                border-right: 1px solid $accent;
                border-radius: 0;
            }

            &.active .notification-pip {
                color: $secondary1;
            }
        }
    }

    .directory {

        // --- Adding feedback for when the directory is empty
        .directory-list:empty {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: rgba(0, 0, 0, .3);
            height: fit-content;
            flex: none;
            padding: 16px;
            border-radius: 8px;

            &:before {
                content: "\f07c";
                font-family: var(--font-awesome);
                color: $secondary1L;
                font-size: 1rem;
                margin-bottom: 8px;
            }
            
            &:after {
                --text: "This section is empty";
                content: var(--text);
                color: $secondary1L;
            }
        }

        // --- Makes the scrollbar only appear while hovering
        .directory-list,
        #chat-log {
            color: transparent;
            transition: color .3s ease-in-out;
            overflow-y: overlay;
            display: flex;
            flex-direction: column;
            gap: 8px;

            &::-webkit-scrollbar-thumb {
                background: transparent;
                box-shadow: inset 0 0 0 10px;
                color: inherit;
            }

            &:hover {
                color: $secondary3L;
            }
        }

        .directory-header {
            margin: 16px 0;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            pointer-events: all;

            .header-search {
                gap: 8px;
                position: relative;
                order: -1;

                &:after {
                    content: "\f002";
                    font-family: var(--font-awesome);
                    position: absolute;
                    right: 66px;
                    top: calc(50% - 8px);
                    color: $secondary3;
                    line-height: 16px;
                }

                input {
                    height: auto;
                    line-height: 1;
                    background: rgba(0,0,0,.3);
                    backdrop-filter: blur(1.5px);
                    border-color: $secondary4;
                    margin: 0;
                    text-align: start;
                    padding: .75em 1em;
                    border-radius: 8px;

                    &:hover,
                    &:focus {
                        border-color: $secondary3;
                    }
                }

                i.fa-search {
                    display: none;
                }

                a {
                    @extend button;
                    background: transparent;

                    &:hover {
                        background: $accentBg;

                        i {
                            color: $accentL;
                        }
                    }
                }
            }

            .action-buttons {
                gap: 4px;
                flex-direction: column;

                display: none;

                button,
                button.create-compendium {
                    @extend button;
                    background: $primaryT;
                    margin: 0;

                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 600;
                    padding-top: 12px;
                    padding-bottom: 12px;
                
                    i {
                        font-size: .9em;
                        font-weight: 700;
                        color: $accent;
                    }

                    &:hover {
                        background: $accent;

                        i {
                            color: $secondary1;
                        }
                    }
                }
            }
        }

        .directory-item {
            color: $secondary1L;

            &:not(.folder) {
                padding: 0;
                transition: background .12s ease-in-out;
                border: none;
                border-radius: 8px;
                align-items: center;
                background: $sidebarItemBg;
                position: relative;

                &:not(.scene):before { // For items that need icons
                    font-family: var(--font-awesome);
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: calc(var(--sidebar-item-height) - 8px);
                    width: calc(var(--sidebar-item-height) - 8px);
                    margin: 4px;
                    background: transparent;
                    font-size: 19px;
                    pointer-events: none;
                    z-index: 2; // So that it sits above the hover effect
                }

                &:after { // Hover effect background
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, transparent 50%);
                    transition: width .12s ease-in-out;
                    border-radius: 8px 0 0 8px;
                    visibility: hidden;
                    pointer-events: none;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 4px;
                    pointer-events: none;
                    width: calc(var(--sidebar-item-height) - 8px);
                    height: calc(var(--sidebar-item-height) - 8px);
                    border-radius: 6px;
                    object-position: center;
                    z-index: 2; // So that it sits above the hover effect

                    &[src^="icons/svg/"] {
                        height: calc(var(--sidebar-item-height) - 24px);
                        width: calc(var(--sidebar-item-height) - 24px);
                        margin: 12px;
                    }

                    &[src="icons/svg/d20-grey.svg"] {
                        display: none;
                    }
                }

                &:has(img[src="icons/svg/d20-grey.svg"]):before {
                    content: "\f6cf";
                }

                .document-name,
                .playlist-name {
                    white-space: normal;
                    line-height: 1.3;
                    color: $secondary1L;
                    font-weight: 700;
                    height: var(--sidebar-item-height);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: var(--sidebar-item-height);
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                    z-index: 2; // So that it sits above the hover effect

                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        padding: 2px 0;
                    }

                    a:hover {
                        color: $secondary1;
                        text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                    }
                }
        
                &:hover {
                    cursor: pointer;
                    background: $sidebarItemBg;
                    
                    .document-name,
                    .playlist-name,
                    &:before {
                        color: $secondary1;
                    }

                    &:after {
                        width: 100%;
                        visibility: visible;
                    }
                }
            }

            &.folder {
                border-radius: 8px;
                background: $sidebarItemBg;
                padding: 0;
                position: relative;
                border: none;
                background: linear-gradient(90deg, var(--tui-bg-colorT), transparent)!important;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 100%;
                    background: var(--tui-bg-color);
                    border-radius: 8px 0 0 8px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, transparent 50%);
                    opacity: 0;
                    border-radius: 8px 0 0 8px;
                    transition: all .12s ease-in-out;
                    z-index: -1;
                }

                .folder-header {
                    padding: 0;
                    line-height: 1;
                    border-radius: 8px;
                    border: none;
                    background: transparent;
                    align-items: center;
                    height: var(--sidebar-header-height);
                    flex: auto;

                    .create-button {
                        color: $secondary2L;
                        min-width: 30px;
                        min-height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;

                        &:hover {
                            background: $accentBg;
                        }

                        .fa-plus {
                            background: var(--tui-bg-color);
                            background: white;
                            color: black;
                            display: block;
                            box-shadow: -3px 2px 0px -1px rgba(0,0,0,0.75);
                            top: 4px;
                            right: 4px;
                        }
                    }

                    h3 {
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        font-size: .9rem;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                        padding-left: var(--sidebar-header-height);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        line-height: 1.2;

                        > i {
                            height: var(--sidebar-header-height);
                            width: var(--sidebar-header-height);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 19px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        h3 {
                            color: $secondary1;
                        }
                    }
                }

                &:has(> .folder-header:hover):after {
                    width: 75%;
                    opacity: 1;
                }

                .subdirectory {
                    border-radius: 0 0 4px 4px;
                    padding: 0;
                    padding-left: 16px;
                    border: none;

                    .directory-item:not(.folder) {
                        background: transparent;

                        &:after {
                            left: -8px;
                            border-radius: 0;
                            background: linear-gradient(90deg, rgba(0, 0, 0, .33) 0%, transparent 50%);
                        }
                    }

                    .directory-item.folder:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    // --- Adds an icon before journal entries
    .journal-sidebar .document {
        &:before {
            content: '\f02d';
        }
    }

    // --- Playlists section
    .playlists-sidebar {

        &:has(#currently-playing.location-bottom) {
            padding-bottom: 116px;
        }

        .sound-control,
        .playlist-header a.pin {
            width: 24px;
            height: 24px;
            flex: none;
            line-height: 1;
            border-radius: 50px;
    
            i {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: none;
            }
    
            &:hover {
                background: $accentBg;
                color: $accent;
            }
        }

        .global-control {
            align-items: center;
            margin-bottom: 16px;

            .playlist-header {
                background: transparent;
                border: none;
                position: relative;

                a.pin {
                    position: absolute;
                    top: calc(50% - 12px);
                    right: 0;
                    margin: 0;
            
                    i:before {
                        content: '\f33d';
                    }

                    &[data-tooltip="Pin to top"] i:before {
                        content: '\f341';
                    }
                }

                h4 {
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    color: $accent;
                    color: $secondary1;
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;

                    &:before,
                    &:after {
                        content: '';
                        height: 1px;
                        width: 16px;
                        background: $secondary1;
                        margin: 8px;
                        box-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                    }
                }

                
            }

            .playlist-sounds {
                input[type="range"] {
                    margin-left: 8px;
                }

                h4 {
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                }

                .sound-control {
                    font-size: 100%;
                }
            }
        }

        #currently-playing {

            &.location-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .sound-controls {
                order: -1;
                margin-right: 4px;
                margin-left: 0;
                flex-direction: row;
                flex: none;

                .sound-control {
                    color: $secondary1L;

                    &[data-action="sound-stop"] {
                        order: -1;
                    }

                    &[data-action="sound-play"] {
                        visibility: hidden;
                        order: -1;
                    }

                    &[data-action="sound-repeat"]:not(.inactive) {
                        background: $accentBg;
                        color: $accentL;
                    }
                }
            }

            .sound-playback {
                align-items: center;
                justify-content: flex-start;

                .sound-control[data-action="sound-pause"] {
                    order: -1;
                    margin-right: 4px;
                    color: $secondary1L;

                    &.disabled {
                        i:before {
                            content: "\f04b";
                        }
                    }
                }
            }
        }

        .directory-item:not(.folder) {
            
            &:before {
                content: "\f001";
            }

            .playlist-header {
                text-decoration: none;
                height: var(--sidebar-item-height);
                padding-left: var(--sidebar-item-height);
                align-items: center;

                .playlist-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    padding: 2px 0;
                    height: fit-content;

                    i {
                        color: rgba(255,255,255,.5);
                    }
                }

                .sound-controls {
                    flex: none;

                    .sound-control {
                        font-size: 100%;
                
                        &:hover {
                            background: $accentBg;
                        }
                    }
                }
            }

            .playlist-sounds {
                padding-bottom: 16px;
                z-index: 2;

                &:not(:has(.sound)):after {
                    content: 'This playlist is empty';
                    padding-left: 16px;
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                }

                .sound {
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                    position: relative;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 2px 0 2px 16px;

                    a {
                        transition: none;
                        
                        &:hover i {
                            color: inherit;
                        }
                    }

                    .sound-controls {
                        order: -1;
                        margin: 0;
                        margin-right: 4px;
                        flex: none;
                        justify-content: flex-start;

                        .sound-control {
                            color: $secondary2;

                            &[data-action="sound-repeat"]:not(.inactive),
                            &[data-action="sound-repeat"]:hover {
                                background: var(--tui-bg-colorT);
                                color: $secondary1;
                                transition: all .12s ease-in-out;
                            }

                            &[data-action="sound-play"],
                            &[data-action="sound-stop"] {
                                display: none;
                                position: absolute;
                                left: -6px;
                                pointer-events: none;

                                i {
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    &.playing .sound-control[data-action="sound-stop"] {
                        display: flex;
                        color: $secondary1;

                        i:before {
                            content: '\f04b';
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -8px;
                        width: 0%;
                        height: 100%;
                        background: linear-gradient(90deg, var(--tui-bg-colorT) 0%, transparent 100%);
                        transition: width .12s ease-in-out;
                        visibility: hidden;
                        z-index: -1;
                        
                    }

                    &:hover {
                        .sound-control[data-action="sound-play"] {
                            display: flex;
                        }

                        .sound-control[data-action="sound-stop"] i:before {
                            content: '\f0c8';
                        }


                        &:after {
                            width: 100%;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .compendium-sidebar {

        .compendium-type > h3 {
            background: transparent;
            border: none;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
            font-size: .9rem;
        
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            color: $accent;
            color: $secondary1;
            text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
        
            &:before,
            &:after {
                content: '';
                height: 1px;
                width: 16px;
                background: $secondary1;
                margin: 8px;
                box-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
            }
        }

        .compendium-list {
            display: flex;
            gap: 8px;
            flex-direction: column;

            .compendium-pack:not(.folder) {
                height: var(--sidebar-item-height);
                padding-left: var(--sidebar-item-height);
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                &:before {
                    content: '\f02d';
                }
        
                &.actor:before {
                    content: '\f007';
                }
        
                &.item:before {
                    content: '\f0f2';
                }
        
                &.journalentry:before {
                    content: '\f518';
                }
        
                &.rolltable:before {
                    content: '\f6cf';
                }
        
                &.playlist:before {
                    content: '\f001';
                }
        
                &.scene:before {
                    content: '\f279';
                }
        
                &.cards:before {
                    content: '\e3ed';
                }
        
                &.adventure:before {
                    content: '\f6d9';
                }
        
                &.macro:before {
                    content: '\f121';
                }
        
                .pack-title {
                    margin: 0;
                    line-height: 1;
                    width: 100%;
        
                    i {
                        display: none;
                    }
                }
        
                .compendium-footer {
                    line-height: 1;
                    width: 100%;
                }
            }
        }
        
    }

    .combat-sidebar {
        .combat-tracker-header {
            a.combat-button {
                color: $secondary2;

                &.combat-create {
                    i {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .scenes-sidebar {
        --sidebar-scene-height: var(--sidebar-item-height);

        .scene:not(.folder) {
            border-radius: 8px;
            border: none;
            background-position: center;
            background-size: cover;
            transition: all .12s ease-in-out;
            box-shadow: none;
            padding: 0 16px;
            position: relative;

            .document-name {
                font-size: .9rem;
                text-align: left;
                margin: 0;
                z-index: 1;
                font-weight: 700;
                padding: 0;
                z-index: 2;
            }

            &:before {
                z-index: 1;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                background: $sidebarItemBg;
            }

            &:after {
                z-index: 1;
            }

            &:hover {
                background-position: center;
                box-shadow: none;
                background-size: cover;

                &:after {
                    opacity: .7;
                }

                a:hover {
                    color: inherit;
                    text-shadow: rgba(0, 0, 0, .4) 1px 2px 2px;
                }
            }
        }

        .directory-item.folder .subdirectory.subdirectory {
            padding-bottom: 8px;

            .scene:not(.folder):hover:after {
                left: 0;
                border-radius: 8px;
            }
        }
    }

    .dice-roll .dice-formula,
    .dice-roll .dice-total {
        box-shadow: none;
    }

    #chat-controls {
        flex: 0 0 auto;
        margin: 0;
        padding: 0;
        padding-top: 16px;
        padding-bottom: 8px;
        align-items: center;
        gap: 4px;
        border-top: 1px solid $secondary2L;

        .chat-control-icon i.fas {
            font-weight: 300;
            color: $secondary1L;
        }

        .control-buttons {
            display: flex;
            gap: 4px;

            a {
                @extend button;
                width: auto;
                padding: .8em;
                background: transparent;

                i {
                    line-height: 1;
                    font-size: 1em;
                }

                &.export-log i:before {
                    content: '\f093';
                }

                &.chat-flush i:before {
                    content: '\f55d';
                }
            }
        }

        select.roll-type-select {
            border-color: $secondary2L;

            &:hover,
            &:focus {
                border-color: $secondary1;
            }
        }
    }

    #chat-form {
        margin: 0;
        height: fit-content;
        flex: 0 0 auto;
        padding: 8px 0;

        textarea {
            @extend input;
            line-height: 1.3;
            height: fit-content;
            border-color: $secondary2L;
            transition: all .12s ease-in-out;

            &:hover,
            &:focus {
                border-color: $secondary1;
                background-color: rgba(0, 0, 0, .12);
            }
        }
    }
    
}

#chat-log {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 0;

    .chat-message {
        border-color: var(--color-border-light-2)!important;
        padding: 8px;
        margin: 0;
        border-radius: 8px;
        border-width: 1px;
        background: $primaryT;
        backdrop-filter: blur(1.5px);

        &:last-child {
            margin-bottom: 16px;
        }

        .message-header {
            line-height: 1;
            margin-bottom: 4px;

            &:has(.flavor-text),
            &:has(.whisper-to) {
                margin-bottom: 0;
            }

            .message-sender {
                margin-bottom: 4px;
                //color: $secondary2;
                color: $accent!important;
                font-size: .7rem;
            }

            .flavor-text,
            .whisper-to {
                margin-bottom: 8px;
                color: $secondary2L;
                font-style: italic;
            }

            .message-timestamp {
                font-size: .6rem;
                margin-right: 4px;
                color: $secondary3L;
            }

            .message-delete i {
                font-weight: 400;
            }
        }

        &.emote {
            font-style: italic;
            background: $primaryT;

            header {
                display: none;
            }
        }

        &.whisper {
            background: $whisperBg;
            border-color: $whisper!important;
        }

        &.blind {
            .message-sender:before {
                content: 'Blind';
                text-transform: uppercase;
                color: $whisper;
                margin-right: 4px;
            }
        }

        .dice-roll {
            .dice-result {
                .dice-formula,
                .dice-total {
                    padding: 8px;
                    border-radius: 4px;
                    height: auto;
                    line-height: 1;
                    min-height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background .12s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background: $primary2L;
                    }

                    &.success {
                        color: $positive;
                    }

                    &.failure {
                        color: $negative;
                    }
                }

                .dice-tooltip {
                    padding: 4px;
                }
            }
        }

        .table-draw {
            .table-description {
                padding-top: 4px;
                padding-bottom: 8px;
            }

            .table-results {
                margin-top: 8px;

                .result-image {
                    border-radius: 4px;
                }
            }
        }


    }
}

#chat-popout #chat-log {
    padding-left: 8px;
    margin-bottom: 8px;
}

.chat-bubble {
    color: $primary2;
    padding: 16px;
    border-color: $primary1;

    &.chatter {
        color: $primary2;
        background: #f5f2ec;
        padding: 16px;
        border-color: $primary1;
    }

    &.emote {
        color: $secondary1L;
        background: $primary2;
        border-color: $accentBg;
    }
}