/* -------------------- */
/* --- DnD 5e Sheet --- */
/* -------------------- */

.dnd5e {
    input[type="text"],
    input[type="number"],
    select {
        font-family: 'roboto';
        color: $white;        
        background: $black3;
    }

    input[type="text"]:hover,
    input[type="number"]:hover,
    input[type="text"]:focus,
    input[type="number"]:focus {
        box-shadow: $shadow;
    }    

    .tag {
        border-color: $black4L;
    }

    button {
        background: $black3;
        border: none;

        &:hover {
            background: $black3L;
        }
    }
    
    .item-summary h1,
    .item-summary h2 {
        border: none;
        font-weight: 900;
        margin-top: 20px;
    }

    .form-group label {
        color: rgba(255,255,255,.7);
    }
}

.dnd5e.sheet {
    .window-content {
        background: $black2;
        color: $white;
        font-size: 0.875rem;
        padding: 10px;
        overflow: auto;
    }

    .items-list .item {
        border: none;
        padding: 6px 0px;
        position: relative;

        &:not(:last-child):after {
            content: '';
            display: block;
            width: 75%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 12.5%;
            background: $black3L;
        }

        .item-name {
            color: $white;
    
            h3, h4 {
                font-weight: 500;
            }
    
            .item-image {
                border-radius: 5px;
            }
        }

        .item-controls a:hover {
            color: white;
        }
    }

    input[type="text"],
    input[type="number"] {
        border: none;

        &:hover {
            border: none;
        }

        &:focus {
            border: none;
            box-shadow: $shadow;
        }
    }

    select {
        color: rgba(255,255,255,87);
        background: $black3;
        border: none;
    }

    .sheet-navigation {
        border-bottom: 1px solid $black3;
        margin-bottom: 15px;

        .item {
            font-family: 'roboto';
            font-weight: 900;
            border: none;
            font-size: .813rem;
            width: 100%;
            display: block;
            margin: 0;
            transition: all .15s ease-in-out;

            &.active, &:hover {
                border: none;
                text-shadow: none;
                background: $black3;
                border-radius: 5px 5px 0 0;
                box-shadow: $shadow;
            }
        }
    }

    .editable h4.rollable:hover,
    .editable .rollable:hover > h4 {
        text-shadow: none;
        color: white;
    }

    .items-list .items-header {
        border: none;
        margin: 0;
        height: auto;
        margin-bottom: 5px;

        &:not(:first-child) {
            margin-top: 25px;
        }

        h3 {
            padding: 0;
            font-family: 'roboto';
            color: $white;
            font-weight: 900;
            font-size: 1.25rem;
        }
    }

    .filter-list {
        align-items: flex-end;

        .filter-item {
            border: none;
            background: $black3;
            padding-top: 5px;
            border-radius: 5px 5px 0 0;
            padding-bottom: 3px;
    
            &:hover,
            &.active {
                text-shadow: none;
                border: none;
                background: $black3L;
                cursor: pointer;
            }
        }
    }

    .item-buttons span {
        border: none;
    }

    // TinyMCE Toolbar

    .tox { 
        &.tox-tinymce .tox-editor-container .tox-editor-header {
            display: block;
    
            .tox-toolbar-overlord {
                position: absolute;
                bottom: 0;
                right: 15px;
                width: 100%;
                background: $black3;   
            }
        }

        .tox-tbtn {
            display: none;

            &[title="Save"] {
                display: block;
                width: 100%!important;
                height: 100%!important;
                padding: 5px;

                .tox-icon {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .tox-toolbar__group {
            width: 100%;
            justify-content: center;
        }
    }

    .tox-sidebar-wrap {
        padding-bottom: 40px;
    }


    // Actor Sheet


    &.actor {
        input {
            border: none;

            &:hover {
                border: none;
            }
        }

        .summary span {
            font-size: .875rem;
            padding-left: 10px;
        }


        // Character Sheet


        &.character {
            min-height: 745px;
        }

        h4.box-title {
            color: $white;
            font-family: 'Roboto';
            font-weight: 900;
            font-size: .875rem;
            margin: 0;
            border: none;
            font-weight: 500;

            input {
                padding: 0;
                font-weight: 500;
            }
        }

        .sheet-header {
            border: none;
            display: grid;
            grid-template-columns: 160px auto;
            grid-column-gap: 15px;
            margin-bottom: 15px;

            img.profile {
                border: none;
            }

            .header-details {
                font-family: 'roboto';
                color: $white;
                display: block;
            }

            h1.charname {
                height: auto;

                input {
                    color: $white;
                    font-weight: 900;
                    font-size: 1.75rem;
                    margin-left: -10px;
                    width: calc(100% + 10px);
                    margin-top: 0;
                }
            }

            .summary {
                border: none;

                li {
                    border: none;
                    border-left: 3px solid rgba(255,255,255,.7);
                }

                .proficiency span {
                    color: $white;
                    font-size: .875rem;
                    text-align: left;
                    padding-left: 10px;
                    font-weight: 900;
                    color: rgba(255,255,255,.7);
                }

                span {
                    color: rgba(255,255,255,.7);
                }

                input {
                    font-size: .875rem;
                    padding-left: 10px;
                }
            }

            .attributes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-column-gap: 5px;
                margin-top: 15px;
                
                .attribute {
                    border: none;
                    background: $black3;
                    border-radius: 5px;
                    padding: 7px;
                    height: auto;
                }

                input.temphp {
                    padding: 0;
                    font-size: 12px;
                }

                .hit-dice {
                    font-size: 1.25rem!important;
                    font-weight: 900;
                }

                a.rest {
                    border: none;
                    background: $black4;
                    padding: 3px;
                    margin: 0;

                    &:hover {
                        background: $black4L;
                    }
                }

                .initiative .attribute-footer input {
                    padding: 0;
                }
            }

        }

        &.character .sheet-header {

            .header-exp {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-areas: "lvl exp bar";
                grid-column-gap: 20px;
                justify-content: flex-start;
                border-radius: 5px;
                background: none;
                width: 100%;
                height: fit-content;
                margin: 0;
                margin-top: -10px;
                padding: 0;
                text-align: left;  
            }

            .charlevel {
                font-size: 1rem;
                color: rgba(255,255,255,.7);

                label {
                    font-weight: 400;
                }

                span {
                    font-weight: 900;
                }
            }

            .experience {
                font-size: 0.813rem;
                margin-bottom: 0;
                flex: auto;
                display: block;
                height: fit-content;

                input {
                    padding: 3px;
                    height: fit-content;
                    font-size: .813rem;
                    width: 50px;
                    text-align: right;
                    color: rgba(255,255,255,.7);
                }

                span.max {
                    font-weight: 400;
                    color: rgba(255,255,255,.7);
                }
            }

            .xpbar {
                background: rgba(255,255,255,.4);
                border: none;
                margin: 0;
                height: 3px;
                flex: auto;
                width: 150px;
                align-self: center;
                grid-area: exp;

                .bar {
                    border: none;
                    height: 100%;
                    border-radius: 3px;
                    margin: 0;
                    background: rgba(255,255,255,.7);
                }
            }
        }

        .ability-scores {
            border: none;

            .ability {
                border: none;
                position: relative;

                input.ability-score {
                    padding: 0;
                    font-weight: 900;
                    font-size: 1.25rem;
                    line-height: 1;
                }

                .ability-modifiers span.ability-mod, 
                .ability-modifiers span.ability-save {
                    border: none;
                    font-family: 'roboto';
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 25%;
                    display: block;
                    width: 50%;
                    height: 1px;
                    background: rgba(255,255,255,.2);
                }

                &:last-child:after {
                    display: none;
                }
            }
        }

        ul.attributes li.attribute {
            border: none;
            background: $black3;

            .attribute-value {
                font-family: 'roboto';
                margin: 3px 0 5px 0;

                &.multiple input {
                    padding: 0;
                    font-weight: 900;
                    font-size: 1.25rem;
                    flex: auto;
                }
    
                & > * {
                    font-size: 1.25rem;
                    font-weight: 900;
                }
            }

            .attribute-footer {
                font-family: 'roboto';
            }

            &.resource .attribute-value input {
                padding: 0;
            }
        }

        &.character ul.skills-list {
            border: none;
            background: $black3;
            border-radius: 5px;
            padding: 3px;

            li.skill:nth-child(even) {
                background: rgba(255,255,255,.03);
            }
        }

        .counters {
            border: none;
            position: relative;
            margin-bottom: 10px;
            padding-bottom: 10px;

            .counter h4 {
                color: $white;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 25%;
                display: block;
                width: 50%;
                height: 1px;
                background: $black4L;
            }
        }

        .traits {
            select {
                padding: 0;
            }

            i.fas:hover {
                color: white;
                text-shadow: none;
            }
        }

        .inventory-filters {
            border-bottom: 1px solid $black3;

            .currency input[type="text"] {
                border: none;
            }
        }

        .items-list {
            .items-header {
                div {
                    color: $white;
                    border: none;
                }
    
                .item-controls a {
                    color: $white;
                }
            }

            .item div {
                border: none;
            }

            .item .item-uses input {
                padding: 0;
            }
        }

        .spell-slots {
            input {
                padding: 0;
            }

            .slot-max-override {
                color: rgba(255,255,255,.4);

                &:hover {
                    color: white;
                }
            }
        }

        .spell-component.C,
        .spell-component.R {
            background: #7a7971;
        }

        .spellcasting-ability {
            display: grid;
            grid-template-areas:
                "name dc"
                "attr attr";
            margin-bottom: 10px;

            select {
                grid-area: attr;
                margin: 0;
                margin-right: 100px;
            }
        }

        &.character .inventory .item-controls .item-toggle:hover,
        &.character .spellbook .item-controls .item-toggle:hover {
            color: white;
        }

        .inventory-list .item-summary {
            color: $white;
        }

        &.character .characteristics {
            label {
                font-family: 'roboto';
                font-weight: 900;
                font-size: .875rem;
            }

            textarea {
                border: none;
                color: $white;
            }
        }

        // NPC Sheet

        &.npc {
            min-height: 706px;

            .header-exp {
                display: block;
                height: auto;
                text-align: left;
                margin-top: -17px;

                .cr {
                    display: inline-block;
                    font-size: 1rem;
                    color: rgba(255,255,255,.7);

                    input {
                        font-size: 1rem;
                        color: rgba(255,255,255,.7);
                    }

                    label {
                        font-weight: 900;
                    }
                }

                .experience {
                    display: inline-block;
                    font-size: 1rem;
                }
            }

            .sheet-header {
                margin-bottom: 5px;

                .summary {
                    font-size: .813rem;
                    font-weight: 400;
                    height: fit-content;

                    li {
                        padding-left: 10px;
                        margin: 0;
                        margin-top: 5px;
                    }

                    input {
                        padding: 0;
                    }
                }

                ul.attributes {
                    grid-template-columns: 1fr 1fr 1fr;
                    margin-top: 5px;

                    li.attribute {
                        .attribute-value {
                            margin: 0;

                            &.multiple input:first-child {
                                text-align: right;
                                padding-right: 5px;
                            }

                            &.multiple input:last-child {
                                text-align: left;
                                padding-left: 5px;
                            }
                        }

                        .attribute-footer input {
                            padding: 0;
                        }
                    }
                }
            }

            .sheet-navigation {
                margin-bottom: 10px;
            }

            ul.skills-list {
                border: none;
                background: $black3;
                border-radius: 5px;
                padding: 3px;

                li.skill {
                    font-size: 11px;

                    .skill-ability {
                        text-align: center;
                    }
                    
                }
            }

            .inventory-filters {
                display: block;
            }

            .spellcasting-ability {
                display: flex;
                justify-content: flex-end;

                select {
                    margin-right: 10px;
                }
            }

            .filter-list {
                margin-left: 30%;
            }
        }

        
        // Vehicle Sheet


        &.vehicle {
            min-height: 730px;

            .header-details {
                .charnam {
                    padding: 0;
                    height: fit-content;
        
                    input {
                        margin-left: -10px;
                    }
                }

                .attributes {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            .counters .counter-value > input:last-child {
                text-align: right;
            }

            .traits .form-group:first-child {
                grid-template-columns: 1fr;
            }

            .ability-scores .ability .ability-modifiers .ability-mod {
                flex: auto;
                margin-top: 5px;
                font-weight: 400;
            }
        }
    }


    // Item Sheet


    &.item {
        .sheet-header {
            border: none;

            .header-details {
                font-family: 'roboto';
                font-size: 1rem;
            }

            h1 {
                height: fit-content;
                padding: 0;

                input {
                    font-weight: 900;
                    padding: 0;
                    width: 100%;
                    font-size: 1.375rem;
                    height: auto;
                }
            }

            .item-subtitle {
                border-radius: 5px;
                height: 60px;
                padding: 0;

                .item-type {
                    font-weight: 900;
                    font-family: 'roboto condensed';
                    color: $white;
                    font-size: 1rem;
                }

                .item-status {
                    font-size: .875rem;
                    font-family: 'roboto condensed';
                }
            }

            .summary {
                border: none;
                height: fit-content;

                li {
                    border: none;
                    font-size: 0.813rem;
                    color: $white;
                    font-weight: 400;
                    height: auto;
                    margin: 0;
                    position: relative;
                    padding-left: 6px;

                    &:before {
                        content: '';
                        width: 3px;
                        height: 50%;
                        display: block;
                        position: absolute;
                        top: 25%;
                        left: -3px;
                        background: rgba(255,255,255,87);
                    }

                    input {
                        padding: 0;
                    }
                }
            }

            img.profile {
                border: none;
                padding: 2px;
                border-radius: 5px;
            }
        }

        .sheet-navigation {
            margin-top: 5px;

            .item {
                font-size: .875rem;
            }
        }

        .sheet-body {
            .item-properties {
                border: none;

                .properties-list li {
                    border-radius: 5px;
                    border-color: $black4L;
                }
            }
        }

        .form-header,
        h4.damage-header {
            font-family: 'roboto';
            border: none;
            font-weight: 900;
            margin-left: 0;
            margin-top: 20px;
            color: $white;
            font-size: 1.25rem;
        }

        .details {
            input[type="text"], input[type="number"], select {
                border: none;
                background: $black3;
            }

            .spell-materials {
                grid-column: 1 / -1;
            }

            .spell-components {
                display: flex;
            }

            .weapon-properties {
                display: flex;
            }
        }

        .damage-parts .damage-part {
            grid-column: 1 / -1;
            margin-bottom: 6px;
        }

        .item-betterRolls {
            input[type="text"], input[type="number"], select {
                border: none;
                background: $black3;
                height: auto;
                margin-right: 2px;
            }
        }    
        
        .recharge.form-group input[type="text"] {
            flex: 0px;
        }
    }
}

/* --- Spellcast Dialog Box --- */

form  .form-group.spell-lvl-btn {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 20px;

    label {
        text-align: center;
    }

    .form-fields {
        margin: auto;

        .spell-lvl-btn__label {
            padding: 0;
            margin-right: 10px;
            position: relative;

            &:last-child {
                margin-right: 0;
            }
            
            .spell-lvl-btn__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                background: $black3;            
                font-size: 16px;
                font-weight: 900;            
                user-select: none;
                border: none;
                transition: all .15s ease-in-out;
    
                &:hover {
                    box-shadow: none;
                    background: $black3L;
                    cursor: pointer;
                }
            }
    
            input {
                display: none;
    
                &:checked + .spell-lvl-btn__btn {
                    background: $black3L;
                    box-shadow: $shadow;
                }
            }

            .available-slots {
                position: absolute;
                top: -4px;
                right: -4px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 15px;
                background: $black4L;
                font-size: 11px;
                line-height: 1;
                border-radius: 50%;
            }
        }
    }
}


/* --------------------- */
/* --- Pathfinder 2e --- */
/* --------------------- */


.crb-style input {
    background: transparent;
    color: var(--body)
}

#trait-selector.pf2e .form-group {
    display: flex;
}

.pf2e.sheet {
    form input[type=number],
    form input[type=text] {
        font-family: 'roboto';
        color: $white;
    }

    .sheet-header h1>input {
        font-size: 2rem;
    }

    form select {
        background: $black3;
        padding: 3px;
        height: 23px
    }

    &.item {
        form {
            &header {
                border: none;
            }

            &>article>section.sheet-sidebar .inventory-details label {
                color: $white;
            }

            &>article>section.sheet-body>.tab.active.item-details label {
                color: $white;
                font-weight: 500;
                white-space: nowrap;
            }

            .form-list {
                border: none;
                padding: 0;
    
                h3 {
                    font-weight: 900;
                    margin-top: 30px;
                }
            }

            .details-container-three-columns {
                grid-column-gap: 5px;
            }

            .details-container {
                grid-gap: 5px;
            }

            .effects-container {
                grid-gap: 5px;
            }

            .pf-value {
                background: $black3;
                border-radius: 5px;
            }

            &>article>section.sheet-body>.tab.active input[type=number],
            &>article>section.sheet-body>.tab.active input[type=text] {
                background: $black3;
                border: none;
            }

            &>article>section.sheet-body>.tabs {
                border: none;
                border-bottom: 1px solid $black4L;
            }

            &>article>section.sheet-body>.tabs a {
                font-weight: 900;
                font-size: .875rem;
            }

            &>article>section.sheet-body>.tabs a.active {
                color: $white;
                text-decoration: none;
                box-shadow: $shadow;
                border-radius: 5px 5px 0 0;
            }

            &>article>section.sheet-sidebar .sidebar-summary {
                border-bottom: 1px solid $black4L;
                font-size: .875rem;
                font-weight: 900;
            }

            section.sheet-body .item-mystification.active .mystification-status label {
                color: $white;
            }

            section.sheet-body .item-mystification.active .unidentified .tox.tox-tinymce {
                width: 100%;
            }
            
        }

        .form-group input {
            background: $black3;
        }

        table.skill-variants {
            border: none;

            tr {
                background: none;

                input {
                    background: $black3;
                    border: none;
                    border-radius: 4px;
                    color: $white;
                    padding: 3px 5px;
                }
            }
        }

        form>article>section.sheet-sidebar .item-summary {
            color: rgba(255,255,255,.6);
        }

        form .form-group.additional-language {
            grid-template-columns: 2fr 2fr 1fr;
        }

        form .form-group.other-weapons {
            grid-template-columns: 2fr 2.3fr 0.7fr;
        }

        .tagify {
            border: none;
            background: $black3;
            border-radius: 5px;

            .tagify__tag {
                background: $black4;
                border-radius: 5px;
            }

            .tagify__tag__removeBtn {
                color: $white;
            }            
        }
    }
}

// Biography editor

.pf2e.sheet .sheet-header h1>input:hover,
.pf2e.sheet .sheet-header h1>input:focus,
.pf2e.item.sheet .form-group input:hover,
.pf2e.item.sheet .form-group input:focus {
    box-shadow: $shadow;
}

.pf2e p {
    font-weight: 400;
}

.crb-style .sheet-body .sheet-content .biography .biography-content ol,
.crb-style .sheet-body .sheet-content .biography .biography-content p,
.crb-style .sheet-body .sheet-content .biography .biography-content p+p,
.crb-style .sheet-body .sheet-content .biography .biography-content ul {
    color: var(--body);
}

.crb-style .sheet-body .sheet-content .biography .biography-content .editor .tox .tox-tbtn__select-chevron svg, 
.crb-style .sheet-body .sheet-content .biography .biography-content .editor .tox .tox-tbtn svg {
    fill: $white;
}

.crb-style .sheet-body .sheet-content .tox .tox-editor-container {
    background: rgba(0,0,0,.3);
}

// Journal Editor

.journal-sheet.pf2e form .editor-content>* {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.pf2e.sheet form input[type=number]:focus,
.pf2e.sheet form input[type=number]:hover,
.pf2e.sheet form input[type=text]:focus,
.pf2e.sheet form input[type=text]:hover {
    border: none;
    box-shadow: $shadow;
    background: $black3L;
    border-radius: 5px;
}

.journal-sheet.pf2e form button[type=submit] {
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-family: 'roboto';
    background: $black3;
    max-width: none;

    &:hover {
        background: $black3L;
    }
}

.journal-sheet.pf2e .window-content {
    padding: 10px 0;
}

// Chat message borders

.pf2e.chat-card .card-header {
    border: none;
}

.pf2e.chat-card .card-footer {
    border-top: 1px solid $black4L;
}


/* ----------------- */
/* --- Fate Core --- */
/* ----------------- */


body.system-fate-core-official {
    .app.window-app.sheet .window-content, #FateUtilities {
        color: black;
    }
    
    .mfate-sheet__identity-name {
        background: transparent!important;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    select,
    select option {
        color: black;
        background: transparent;
    }

    #ShowCharacter #character {
        color: $white;
    }

    #chat-log .message {
        background: $black2;
        border-radius: 5px;

        .message-header {
            color: $white;
            margin-bottom: 7px;
        }

        .dice-roll .dice-formula, 
        .dice-roll .dice-total {
            border-color: $black4L;
        }
    }
}


/* -------------------------- */
/* --- Call of Cthulhu 7e --- */
/* -------------------------- */


.system-CoC7 {

    --main-sheet-front-color: $white;
    --main-sheet-back-color: $white;
    
    .sheetV2.character form {
        border: none;
    }
    
    .sheetV2 .window-content {
        color: var(--main-sheet-front-color);
    }
    
    .sheetV2.app {
        background: $black2;
    }
    
    .sheetV2 .window-header {
        background: $black2;
        border: none;
    }
    
    .sheetV2.character form .container .sheet-nav {
        border: none;
    }
    
    .sheetV2.character form .container .sheet-body {
        border: none;
    }
    .sheetV2.character form .container .sheet-body .two-panes-content .left-panel {
        border: none;
    }
    
    .sheetV2.character form .container .sheet-body .itemV2 {
        border: none;
    }
    
    .sheetV2 .window-content span {
        color: $white;
    }
    
    .sheetV2.character form .container .sheet-body .monitor .max-value input {
        color: $white;
    }
    
    .sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score input {
        padding: 0;
    }
    
    .sheetV2 .window-content .rollable:hover {
        color: rgba(255,255,255,1);
    }
    
    .window-app textarea {
        color: $white;
    }
    
    .sheetV2.character form .container .sheet-nav a.active span {
        background: $black3L;
    }
    
    .sheetV2.character form .container .sheet-header .characteristics .char-box .charac-score {
        background: $black3L;
    }
    
    .combat-pane .section-header {
        background: $black3L;
    }
    
    .combat-pane .section-header.skill {
        background: transparent;
        padding-left: 0;
        margin-top: 16px;
        font-weight: 900;
    }
    
    .sheetV2 .development .skills-list .item .adjustment-value.locked {
        background: $black2;
    }
    
    .sheetV2 .development .skills-list .item input {
        background: $black3L;
        border: none;
    }
    
    .sheetV2.character form .container .sheet-header .infos .row input {
        color: rgba(255,255,255,.7);
    }
    .sheetV2 .development .skills-list .item span {
        color: rgba(255,255,255,.7);
    }
    .sheetV2.character form .container .sheet-body .itemV2 .item-name {
        color: rgba(255,255,255,.7);
    }

}