body {
    --tui-black1: #0d0c0a;
    --tui-black1L: #141211;
    --tui-black2: #191716;
    --tui-black2L: #1E1C1B;
    --tui-black3: #252423;
    --tui-black3L: #2F2E2D;
    --tui-black4: #363535;
    --tui-black4L: #3F3F3F;

    --tui-white1: rgba(255,255,255,.87);
    --tui-white2: rgba(255,255,255,.6);
    --tui-white3: rgba(255,255,255,.4);
    --tui-highlight: rgba(255,255,255,.05);

    --tui-accent1: #f56d12;
    --tui-accent1L: #ff9955;
    --tui-accent2: #21122F;
    --tui-accent2L: #9b8dff;

    --tui-success: #418824;
    --tui-failure: #cc2d2d;
    --tui-mixed-roll: #596cf3;

    --tui-chat-message-whisper: #1c1d20;
    --tui-chat-message-whisper-border: rgba(78,101,126,.87);

    --tui-selection: #cce2ff;

    --tui-shadow: 0 0 3px var(--tui-white2) inset;
}

$black1: var(--palette-app-background, var(--tui-black1));
$black1L: var(--palette-app-background-light, var(--tui-black1L));
$black2: var(--palette-dialog-background, var(--tui-black2));
$black2L: var(--palette-dialog-background-light, var(--tui-black2L));
$black3: var(--palette-tertiary, var(--tui-black3));
$black3L: var(--palette-tertiary-light, var(--tui-black3L));
$black4: var(--palette-quaternary, var(--tui-black4));
$black4L: var(--palette-quaternary-light, var(--tui-black4L));

$white1: var(--palette-light-light, var(--tui-white1));
$white2: var(--palette-light, var(--tui-white2));
$white3: var(--palette-light-dark, var(--tui-white2));
$highlight: var(--tui-highlight);

$accent1: var(--palette-primary, var(--tui-accent1));
$accent1L: var(--palette-primary-light, var(--tui-accent1L));
$accent2: var(--palette-secondary, var(--tui-accent2));
$accent2L: var(--palette-secondary-light, var(--tui-accent2L));

$success: var(--palette-success, var(--tui-success));
$failure: var(--palette-danger, var(--tui-failure));
$mixed-roll: var(--palette-info, var(--tui-mixed-roll));

$whisper: var(--palette-app-background-light, var(--tui-chat-message-whisper));
$whisperBorder: var(--palette-app-background-light, var(--tui-chat-message-whisper-border));

$selection: var(--tui-selection);

$shadow: var(--tui-shadow);